@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}


.snippet-body{
	display: flex; 
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}


.search{
    margin-bottom: 0;
    justify-content: center;
}
.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #1b1b55;
    outline: 0px
}
 
.form-control {
    height: 32px;
    border: 0.5px solid #1b1b55;
}

.search_btn:hover{
    color: #F7F6FB;
}

/**/

.titlename{
    margin-bottom: 20px;
    padding: 8px;
    background-color: #F7F6FB;
}

.titlename1{
    margin-bottom: 0px;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
}

.title{
    padding: px 2px 3px 4px;
    background: #e2e2e2;
    color:black;

}

.title a{
    text-decoration: none;
    color: black;
}


.cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    background: #fff;
    border-bottom: 5px solid transparent;
    background-clip: padding-box
}

.table-body tr{
    display: table-row;
    border: #e2e2e2 solid 0.5px;
}

.table-responsive{
    margin:auto;
    width: 80%;
}

#line{
    border: #c4c4c4 solid 1px;
    
}

thead {
    background: #1b1b55;
    color: #F7F6FB;
}

thead th{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

tbody td{
    font-size: 15px;
    text-align: center;
}

.con{
    padding-top: 40px;
}

#title{
    text-align: left;
}

#title a {
    color: black;
    text-decoration: none;
    text-align: left;
}

.status_n{
	height: 25px;
    font-size: 13px;
    border: #1b1b55 solid 0.5px;
    color: #1b1b55;
    background-color: #e2e2e2;
    
}

.status_y{
	height: 30px;
    font-size: 13px;
    border: #e2e2e2 solid 0.5px;
    color: #e2e2e2;
    background-color: #1b1b55;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.btn {
    font-size: 15px;
    background: #F7F6FB;
    border-color: #1b1b55;
    color: #1b1b55;
}

.btn:hover{
    background: #1b1b55;
    color: #F7F6FB;
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.container {
    margin-top: 100px
}

.page-item{
    width:30px;
}

.page-link{
    font-size: 10px;
}

.pagination,
.jsgrid .jsgrid-pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem
}

.pagination .page-item.active .page-link,
.jsgrid .jsgrid-pager .page-item.active .page-link,
.jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link,
.jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link,
.pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a,
.jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a,
.pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a,
.jsgrid .jsgrid-pager .active.jsgrid-pager-page a,
.pagination .page-item:hover .page-link,
.jsgrid .jsgrid-pager .page-item:hover .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-page:hover .page-link,
.pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:hover a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover a,
.pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:hover a,
.jsgrid .jsgrid-pager .jsgrid-pager-page:hover a,
.pagination .page-item:focus .page-link,
.jsgrid .jsgrid-pager .page-item:focus .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-page:focus .page-link,
.pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:focus a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus a,
.pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:focus a,
.jsgrid .jsgrid-pager .jsgrid-pager-page:focus a,
.pagination .page-item:active .page-link,
.jsgrid .jsgrid-pager .page-item:active .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-page:active .page-link,
.pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:active a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active a,
.pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:active a,
.jsgrid .jsgrid-pager .jsgrid-pager-page:active a {
    background: #1b1b55;
    border-color: #e2e2e2;;
    color: #F7F6FB;
}

.page-link {
    color: black
}

.notice{
    padding: 0 10px;
    background-color: #F7F6FB;
}

.comment{
    padding: 10px 10px;
    margin-bottom: 20px;
    width: 710px;
   display: block;
   background-color: #e2e2e2;
}

.mr-1{
    font-size: 12px;
    color: #1b1b55;
}

#bo_v_con1{
    white-space: break-spaces;
    font-size: 12px;
    line-height: 26px;
    text-align: justify;
  }

.bo_v_con{
    white-space: pre-line;
    font-size: 12px;
    text-align: justify;
  }
#comment{
    padding: 10px 0;
}
#comment1{
    margin: 10px 0;
    display: flex;
}

#content{
    border: none;
    width: 785px;
    background-color: #F7F6FB;
    border-bottom: #e2e2e2 solid 0.5px;
}


.media-list{
    padding-left: 0;
}
.media{
    padding: 10px 0;
    border-bottom: #e2e2e2 solid 0.5px;
}

.cm{
    margin-left: 5px;
    display: grid;
}
.cm_btn{

    font-size: 12px;
    color:#c4c4c4;
    border: 0;
    background: 0;
}

.btn_cmt{
    font-size: 15px;
    background: #F7F6FB;
    border: #1b1b55 solid 0.5px;
    color: #1b1b55;
    height: 200px;
    width: 60px;
}

.btn_cmt:hover{
    background: #1b1b55;
    color: #F7F6FB;
}

.btn-group{
    position: relative;
    display: inline;
    vertical-align: middle;

}

.contentwritebox{
   padding: 20px 0;
   display: inline;
}

.regist{
    padding: 20px 0 60px 0 ;
}

#regist-title {
    display: inline;
    width: 650px;
}

#regist-file {
    padding: 20px 0;
}

.cmt-content{
    border:#c4c4c4 solid 0.5px;
    display: flex;
    width: 650px;
    height: 200px;
    margin-bottom: 20px;
}

#regist-btn {
    display: flex;
}

.list_btn{
margin-bottom: 20px;
}

/*�넗湲�*/



