<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" >
	<title></title>
	<link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<div th:replace="/common/centerHeader.html :: center-header"></div>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	
	<style>
	
	</style>
</head>
<body>
	<div th:replace="/common/centerHeader.html :: center-body"></div>
	<!-- <form th:object="${trainer}">
		<div class="mb-3">
		  <label for="formGroupExampleInput" class="form-label">이름</label>
		  <input type="text" class="form-control" id="formGroupExampleInput" th:value="${trainer.member.name}">
		</div>
		<div class="mb-3">
		  <label for="formGroupExampleInput2" class="form-label">아이디</label>
		  <input type="text" class="form-control" id="formGroupExampleInput2" th:value="${trainer.member.id}">
		</div>
	</form> -->
	<form th:object="${trainer}">
		<div class="customer-info" style="width: 1000px;">
		    <div class="customer-photo-zone flex-box">
		        <div class="customer-photo flex-box">
		        <img src="/images/profile.png"></div>
		    </div>
		    <div class="customer-info-detail" th:object="${trainer}">
		        <div class="info-box">
		            <ul>
		                <li><span class="day-form" style="background: #d8d8d8; margin-left: 0;">트레이너</span>
		                	<span class="day-form" style="background: rgba(212, 232, 226, 1.0)" th:text="${trainer.trStatus}"></span>
		                </li>
		                <li>
		                    <div class="info-title">성별</div>
		                    <div class="info-content text-overflow" th:text="${trainer.member.gender}"></div>
		                </li>
		                <li>
		                    <div class="info-title">나이</div>
		                    <div class="info-content text-overflow" th:text="${trainer.member.age}"></div>
		                </li>
		                <li>
		                    <div class="info-title">주소</div>
		                    <div class="info-content text-overflow" th:text="${trainer.member.address}"></div>
		                </li>
		                <li>
		                    <div class="info-title">연락처</div>
		                    <div class="info-content text-overflow" th:text="${trainer.member.contact}"></div>
		                </li>	                
		            </ul>
		        </div>       
		</div>
	</form>
	
	
	
	<button type="button" class="btn btn-secondary" onclick="deleteTrainer()">퇴사</button>
	<script th:inline="javascript">
	
	
	</script>
	
	
</body>
</html>