<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>트레이너 조회 </title>
    
    
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link href="@{/css/header.css}" rel="stylesheet" type="text/css">
	
   
    </head>
                                
    <body id="body-pd">

	<!-- 헤더 body 추가 -->
	<div th:replace="/common/centerHeader.html"></div>

    
    <!--Container Main start-->
    <div class="height-100 bg-light">
    
        <div class="content">
            <div class="container">
            <h2 class="mb-5">트레이너 조회</h2>

            <div>
                <!-- selectbox - 전체, 재직, 퇴사 -->
                <select class="form-select" aria-label="Default select example" style="width: 10%;">
                    <option selected>전체</option>
                    <option value="1">재직</option>
                    <option value="2">퇴사</option>
                </select>

			<!-- 트레이너 목록 테이블 -->
            <div class="table-responsive custom-table-responsive">
            <table class="table custom-table">
            <thead>
            <tr>
            <th scope="col">
            <label class="control control--checkbox">
            <input type="checkbox" class="js-check-all" name="checkAll" value="selectAll"
             onclick="selectAll(this)">
            <div class="control__indicator"></div>
            </label>
            </th>
            <th>No</th>
            <th>이름</th>
            <th>ID</th>
            <th>성별</th>
            <th>연락처</th>
            <th>경력</th>
            <th>재직여부</th>
            <th></th>
          
            </tr>
            </thead>
            <tbody>
            <tr class="table_tr" th:each="trainer : ${ trainerList}">
                <td scope="row">
                    <label class="control control--checkbox">
                        <input type="checkbox" name="check">
                        <div class="control__indicator"></div>
                    </label>
                </td>
                <td th:text="${trainer.trNum}"> </td>
                <td th:text="${trainer.member.name}"> </td>
                <td th:text="${trainer.member.id}"></td>
                <td th:text="${trainer.member.gender}"></td>
                <td th:text="${trainer.member.contact}"></td>
                <td th:text="|${trainer.career}년|"></td>
                <td th:text="${trainer.trStatus}"></td>
    			<td th:if="${trainer.getTrStatus().toString().equals('재직')}">
    				<a th:href="@{'/center/product/proModify?no=' + ${ membership.no }}">
    					<button type="button" class="btn btn-secondary" onclick="deleteTrainer();">퇴사</button>
    				</a>
    				
    			</td>
    			
    		
    	
            </tr>
    
            </tbody>
            </table><br>
              
            
            <!-- 페이징-->
            <nav aria-label="Page navigation example">
                <ul class="pagination" style="justify-content: center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            </div>
            </div>
    </div>
    

 <script type='text/Javascript'>
 document.addEventListener("DOMContentLoaded", function(event) {
/* 트레이너 목록 테이블 체크박스 변수*/
const checkboxes = document.getElementsByName('check');


 }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>   
<script>


/* 트레이너 목록 테이블 체크박스 전체선택 함수 */
function selectAll(selectAll)  {
  const checkboxes 
     = document.querySelectorAll('input[type="checkbox"]');
  
  checkboxes.forEach((checkbox) => {
    checkbox.checked = selectAll.checked
  })
   
}

function deleteTrainer(){
    var cnt = $("input[name='check']:checked").length;
    var arr = new Array();
    $("input[name='check']:checked").each(function() {
        arr.push($(this).attr('id'));
    });
    if(cnt == 0){
        alert("선택된 트레이너가 없습니다.");
    }
    else{
        $.ajax = {
            type: "POST",
            url: "OOOO.do",
            data: "TRN_NUM=" + arr + "&CNT=" + cnt,
            dataType:"json",
            success: function(jdata){
                if(jdata != 1) {
                    alert("삭제 오류");
                }
                else{
                    alert("삭제 성공");
                }
            },
            error: function(){alert("서버통신 오류");}
        };
    }
}

	
	






</script>




<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html> 