<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" >
	<title></title>
	<link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<div th:replace="/common/centerHeader.html :: center-header"></div>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div th:replace="/common/centerHeader.html :: center-body"></div>
	
	<div class="mb-3" th:object="${trainer}">
	  <label for="formGroupExampleInput" class="form-label">이름</label>
	  <input type="text" class="form-control" id="formGroupExampleInput" th:value="*{member.name}">
	</div>
	<div class="mb-3" th:object="${trainer}">
	  <label for="formGroupExampleInput2" class="form-label">아이디</label>
	  <input type="text" class="form-control" id="formGroupExampleInput2" th:value="*{member.id}">
	</div>
	
</body>
</html>