<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaspa.healthtouch.trainer.schedule.model.dao.TrainerScheduleMapper">


	<resultMap type="com.jaspa.healthtouch.trainer.schedule.model.dto.TrainerScheduleDTO" id="trainerScheduleResultMap">
		<id property="no" column="TRN_SCH_NO"/>
		<result property="id" column="TRN_ID"/>		
		<result property="title" column="TRN_SCH_TITLE"/>		
		<result property="fromTimeHour" column="TRN_FROM_HOUR"/>		
		<result property="fromTimeHalf" column="TRN_FROM_HALF"/>		
		<result property="toTimeHour" column="TRN_TO_HOUR"/>
		<result property="toTimeHalf" column="TRN_TO_HALF"/>
		<result property="weekDay" column="TRN_SCH_WEEKDAY"/>
		<result property="color" column="TRN_SCH_COLOR"/>			
								
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>


	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberDTO" id="memberResultMap">
		<id property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="contact" column="MEMBER_CONTACT"/>
		<result property="num" column="MEMBER_NUM"/>
		<result property="birthday" column="MEMBER_BIRTHDAY"/>
		<result property="age" column="MEMBER_AGE"/>
		<result property="gender" column="MEMBER_GENDER"/>
		<result property="address" column="MEMBER_ADDRESS"/>
		<result property="type" column="MEMBER_TYPE"/>
		<result property="status" column="MEMBER_STATUS"/>

	</resultMap>





	<!-- 트레이너 정보 조회 -->
	<select id="selectTrainerSchedule" resultMap="trainerScheduleResultMap">
	
		 SELECT
               S.TRN_SCH_NO
             , S.TRN_ID
             , S.TRN_SCH_TITLE
			 , S.TRN_FROM_HOUR
             , S.TRN_FROM_HALF
             , S.TRN_TO_HOUR
			 , S.TRN_TO_HALF
             , S.TRN_SCH_WEEKDAY
			 , S.TRN_SCH_COLOR
		  FROM TRN_SCHEDULE S
		  JOIN TBL_MEMBER M ON(M.MEMBER_ID = S.TRN_ID)
		 WHERE M.MEMBER_ID = #{ id }
		 
	</select>


	<!-- 트레이너 스케줄 인서트 -->

	<insert id="insertSchedule">
		INSERT INTO TRN_SCHEDULE
	(
	      TRN_SCH_NO
	    , TRN_ID
	    , TRN_SCH_TITLE
	    , TRN_FROM_HOUR
	    , TRN_FROM_HALF
	    , TRN_TO_HOUR
	    , TRN_TO_HALF
	    , TRN_SCH_WEEKDAY
	    , TRN_SCH_COLOR
	)
	VALUES
	(
	      SEQ_TRN_SCH_NO.NEXTVAL
	    , #{ id }
	    , #{ title }
	    , #{ fromTimeHour }
	    , #{ fromTimeHalf }
	    , #{ toTimeHour }
	    , #{ toTimeHalf }
	    , #{ weekDay }
	    , #{ color }
	)

	</insert>




	<!-- 트레이너 정보 업데이트 
	<update id="updateSchedule">
	
	    UPDATE TRN_SCHEDULE
	       SET TRN_SCH_TITLE = #{ title }
	         , TRN_FROM_HOUR = #{ fromTimeHour }
	         , TRN_FROM_HALF = #{ fromTimeHalf }
	         , TRN_TO_HOUR = #{ toTimeHour }
	         , TRN_TO_HALF = #{ toTimeHalf }
	         , TRN_SCH_WEEKDAY = #{ weekDay }
	         , TRN_SCH_COLOR = #{ color }
	     WHERE TRN_SCH_NO = #{ no }
	</update>
	-->










</mapper>