<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaspa.healthtouch.trainer.classInfo.model.dao.TrainerClassInfoMapper">
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberDTO" id="memberResultMap">
		<id property="id" column="REF_MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="contact" column="MEMBER_CONTACT"/>
		<result property="num" column="MEMBER_NUM"/>
		<result property="birthday" column="MEMBER_BIRTHDAY"/>
		<result property="age" column="MEMBER_AGE"/>
		<result property="gender" column="MEMBER_GENDER"/>
		<result property="address" column="MEMBER_ADDRESS"/>
		<result property="status" column="MEMBER_STATUS"/>
		
		<association property="memberRole" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberRoleDTO" id="memberRoleResultMap">
		<id property="memberId" column="REF_MEMBER_ID"/>
		<result property="authorityCode" column="REF_AUTHORITY_CODE"/>
		
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.AuthorityDTO" id="authorityResultMap">
		<id property="code" column="REF_AUTHORITY_CODE2"/>
		<result property="name" column="AUTHORITY_NAME"/>
		<result property="desc" column="AUTHORITY_DESC"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.member.classInfo.model.dto.ClassDTO" id="classResultMap">
		<id property="no" column="CLS_NO"/>
		<result property="content" column="CLS_CONTENT"/>
		<result property="rsvNo" column="CLS_RSV_NO"/>
		<result property="memberId" column="CLS_MEMBER_ID"/>
		
		<association property="reservation" resultMap="reservationResultMap"/>
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.member.reservation.model.dto.ReservationDTO" id="reservationResultMap">
		<id property="no" column="RSV_NO"/>
		<result property="datetime" column="RSV_DATETIME"/>
		<result property="reqDatetime" column="RSV_REQ_DATETIME"/>
		<result property="state" column="RSV_STATE"/>
		<result property="type" column="RSV_TYPE"/>
		<result property="memberId" column="RSV_MEMBER_ID"/>
		<result property="trainerId" column="RSV_TRAINER_MEMBER_ID"/>
		
		<association property="member">
			<id property="id" column="RSV_MEMBER_ID"/>
			<result property="name" column="RSV_MEMBER_NAME"/>	
		</association>
		<association property="trainer">
			<id property="id" column="RSV_TRAINER_MEMBER_ID"/>
			<result property="name" column="RSV_TRAINER_MEMBER_NAME"/>
		</association>
	</resultMap>
	
	<select id="findAllClassTotalCount" parameterType="com.jaspa.healthtouch.member.classInfo.model.dto.ClassDTO" resultType="int">
		SELECT COUNT(*)
		  FROM TBL_RESERVATION A
		  LEFT JOIN TBL_CLASS B ON (B.CLS_RSV_NO = A.RSV_NO)
		  JOIN TBL_MEMBER C ON (A.RSV_MEMBER_ID = C.MEMBER_ID)
		 WHERE A.RSV_TRAINER_MEMBER_ID = #{ memberId }
		   AND A.RSV_STATE = 'Y'
		   AND TO_CHAR(SYSDATE, 'YYYYMMDD') >= TO_CHAR(A.RSV_DATETIME, 'YYYYMMDD')
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="searchType == 'name'">
							AND C.MEMBER_NAME LIKE '%' || #{searchKeyword} || '%'
						</when>
						<when test="searchType == 'content'">
							AND A.CLS_CONTENT LIKE '%' || #{searchKeyword} || '%'
						</when>
					</choose>
				</when>
			</choose>
		</if>
	</select>
	
	<select id="findAllClass" parameterType="com.jaspa.healthtouch.member.classInfo.model.dto.ClassDTO" resultMap="classResultMap">
		SELECT A.RNUM
			 , A.RSV_NO
			 , A.RSV_DATETIME
			 , A.RSV_REQ_DATETIME
			 , A.RSV_STATE
			 , A.RSV_TYPE
			 , A.RSV_MEMBER_ID
			 , A.RSV_TRAINER_MEMBER_ID
			 , E.CLS_NO
			 , E.CLS_CONTENT
			 , E.CLS_RSV_NO
			 , E.CLS_MEMBER_ID
			 , F.MEMBER_NAME RSV_TRAINER_MEMBER_NAME
			 , D.MEMBER_NAME RSV_MEMBER_NAME
		  FROM (SELECT ROWNUM RNUM
		  			 , B.RSV_NO
		  			 , B.RSV_DATETIME
		  			 , B.RSV_REQ_DATETIME
		  			 , B.RSV_STATE
		  			 , B.RSV_TYPE
		  			 , B.RSV_MEMBER_ID
		  			 , B.RSV_TRAINER_MEMBER_ID
		  		  FROM (SELECT C.RSV_NO
		  		  			 , C.RSV_DATETIME
		  		  			 , C.RSV_REQ_DATETIME
		  		  			 , C.RSV_STATE
		  		  			 , C.RSV_TYPE
		  		  			 , C.RSV_MEMBER_ID
		  		  			 , C.RSV_TRAINER_MEMBER_ID
		  		  		  FROM TBL_RESERVATION C
		  		  		) B
		<![CDATA[
		WHERE ROWNUM <= #{ paginationInfo.firstRecordIndex } + #{ recordsPerPage }
		]]>) A
		  JOIN TBL_MEMBER D ON (A.RSV_MEMBER_ID = D.MEMBER_ID)
		  LEFT JOIN TBL_CLASS E ON (A.RSV_NO = E.CLS_RSV_NO )
		  JOIN TBL_MEMBER F ON (A.RSV_TRAINER_MEMBER_ID = F.MEMBER_ID)
		 WHERE A.RNUM > #{ paginationInfo.firstRecordIndex }
		   AND A.RSV_TRAINER_MEMBER_ID = #{ memberId }
		   AND A.RSV_STATE = 'Y'
		   AND TO_CHAR(SYSDATE, 'YYYYMMDD') >= TO_CHAR(RSV_DATETIME, 'YYYYMMDD')
			<if test="searchKeyword != null and searchKeyword != ''">
				<choose>
					<when test="searchType != null and searchType != ''">
						<choose>
							<when test="searchType == 'name'">
								AND D.MEMBER_NAME LIKE '%' || #{searchKeyword} || '%'
							</when>
							<when test="searchType == 'content'">
								AND E.CLS_CONTENT LIKE '%' || #{searchKeyword} || '%'
							</when>
						</choose>
					</when>
				</choose>
			</if>
	</select>
	
	<select id="getDetail" resultMap="classResultMap">
		SELECT A.CLS_NO
			 , A.CLS_CONTENT
			 , A.CLS_RSV_NO
			 , A.CLS_MEMBER_ID
			 , B.RSV_DATETIME
		  FROM TBL_CLASS A
		  JOIN TBL_RESERVATION B ON (A.CLS_RSV_NO = B.RSV_NO)
		 WHERE A.CLS_NO = #{ no }
	</select>
	
	<insert id="registClassInfo">
		INSERT INTO TBL_CLASS
		(
		  CLS_NO
		, CLS_CONTENT
		, CLS_RSV_NO
		, CLS_MEMBER_ID
		)
		VALUES
		(
		  SEQ_CLS_NO.NEXTVAL
		, #{ content }
		, #{ rsvNo }
		, #{ id }
		)
	</insert>
	
	<update id="modifyClassInfo">
		UPDATE TBL_CLASS
		   SET CLS_CONTENT = #{ content }
		 WHERE CLS_NO = #{ no }
	</update>
</mapper>