<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>healthtouch</title>
<link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<div th:replace="/common/trnHeader.html :: trn-header"></div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body id="body-pd" class="snippet-body" style="min-height: 80vh">
	<div th:replace="/common/trnHeader.html :: trn-body"></div>
	<div class="container mt-5">
		<div class="d-flex justify-content-center row">
			<div class="col-md-10">
				<!-- 검색 -->
				<br>
				<th:block layout:fragment="search">
					<div id="adv-search" class="input-group">
						<form id="searchForm" th:action="@{/trainer/classInfo/classList}" method="get" class="input-group mb-3" role="form">
							<input type="hidden" name="currentPageNo" value="1"/>
							<input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}"/>
							<input type="hidden" name="pageSize" th:value="${params.pageSize}"/>
							<select name="searchType" class="form-control">
								<option value="name" th:selected="${#strings.equals(params.searchType, 'name')}">이름</option>
								<option value="content" th:selected="${#strings.equals(params.searchType, 'content')}">내용</option>
							</select>
							<input type="text" name="searchKeyword" id="searchKeyword" class="form-control input-text" th:value="${params.searchKeyword}" placeholder="검색어를 입력해 주세요"/>
							<div class="search_btn input-group-append">
								<button type="submit" class="btn btn-primary"><i class="bx bx-search"></i></button>
							</div>
						</form>
					</div>
				</th:block>
				<br>
				<th:block layout:fragment="content">
					<table class="table align-middle">
						<thead>
							<tr class="text-center">
								<th>No</th>
								<th>수업 일시</th>
								<th>담당 회원</th>
								<th>자세히 보기</th>
							</tr>
						</thead>
						<tbody class="table-body">
							<tr class="cell-1 text-center" th:each="class : ${ classList }" th:if="${not #lists.isEmpty( classList )}">
								<td th:text="${ classStat.count }"></td>
								<td th:text="${ #dates.format(class.reservation.datetime, 'yyyy-MM-dd HH:mm') }"></td>
								<td th:text="${ class.reservation.member.name }"></td>
								<th:block th:if="${ class.content != null }">
									<td>
										<button class="btn btn-sm outline" type="button" id="viewDetailBtn" style="color:#1b1b55 ; border-color: #1b1b55;" th:onclick="|javascript:viewDetail('${class.no}')|">수업 내용 보기</button>
									</td>
								</th:block>
								<th:block th:if="${ class.content == null || class.content == '' }">
									<td>
										<button class="btn btn-sm outline" type="button" id="registClassInfoBtn" style="color:#1b1b55 ; border-color: #1b1b55;" th:onclick="|javascript:registClassInfo('${class.reservation.no}')|">내용 등록</button>
									</td>
								</th:block>
							</tr>
							<tr th:unless="${not #lists.isEmpty( classList )}">
								<td colspan="4">조회된 결과가 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</th:block>
				<!-- 페이지네이션 -->
				<th:block layout:fragment="paging">
				<br>
					<nav th:fragment="pagination" th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" aria-label="Page navigation" class="text-center">
						<ul class="pagination flex-wrap d-flex justify-content-center" style="display: flex; border-radius: 0.25rem;">
							<li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(1)} ]])">
								<a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
							</li>
							<li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1)} ]])">
								<a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
							</li>
							<li class="page-item" th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == params.currentPageNo} ? 'active'">
								<a class="page-link" href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]])"></a>
							</li>
							<li class="page-item" th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]])">
								<a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
							</li>
							<li class="page-item" th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount)} ]])">
								<a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
							</li>
						</ul>
					</nav>
				</th:block>
				<br>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			function viewDetail(no) {
				var classNo = no;
				
				$.ajax({
					url: "/trainer/classInfo/detail",
					type: "post",
					dataType: "json",
					data: { classNo : classNo },
					success: function(data) {
						var date = new Date(data[0].reservation.datetime);
						var dateText = '';
						dateText += (date.getYear() + 1900) + "년 ";
						dateText += (date.getMonth() + 1) + "월 ";
						dateText += date.getDate() + "일 ";
						dateText += date.getHours() + "시";
						
						var content = data[0].content;
						
						Swal.fire({
							title: dateText,
							text: content,
							confirmButtonText: '수정',
							confirmButtonColor: '#1b1b55',
							focusConfirm: false,
							showDenyButton: true,
							denyButtonText: '닫기',
						}).then((result) => {
							if(result.isConfirmed) {
								Swal.fire({
									title: '수업 내용 수정',
									html: `<input type="text" class="swal2-input" name="content" id="content" placeholder="내용 등록" value="${content}" required>`,
									confirmButtonText: '수정',
									focusConfirm: false,
									showDenyButton: true,
									denyButtonText: '취소',
									preConfirm: () => {
										const content = Swal.getPopup().querySelector('#content').value
										
										if(!content) {
											Swal.showValidationMessage('내용을 입력하세요.')
										}
										
										return { content: content }
									}
								}).then((result) => {
									if(result.isConfirmed) {
										var content = result.value.content;
										var param = { classNo: classNo, content: content }
										
										$.ajax({
											url: "/trainer/classInfo/modify",
											type: "post",
											async: false,
											data: JSON.stringify(param),
											contentType: 'application/json; charset=utf-8',
											success: function(data) {
												if(data) {
													Swal.fire({
														icon: 'success',
														text: '수업 내용 수정이 완료되었습니다.'
													}).then((result) => {
														location.reload();
													})
												} else {
													Swal.fire({
														icon: 'error',
														text: '수업 내용 수정에 실패했습니다. 다시 시도해 주세요.'
													})
												}
											},
											error: function(e) {
												console.log('수업 내용 수정 실패');
												console.log(e);
											}
										})
									}
								})
							}
						})
					},
					error: function(e) {
						console.log(e);
					}
				});
			}
			
			function registClassInfo(no) {
				var rsvNo = no;
				
				Swal.fire({
					title: '수업 내용 등록',
					html: '<input type="text" class="swal2-input" name="content" id="content" placeholder="내용 등록" required>',
					confirmButtonText: '등록',
					focusConfirm: false,
					showDenyButton: true,
					denyButtonText: '취소',
					preConfirm: () => {
						const content = Swal.getPopup().querySelector('#content').value
						
						if(!content) {
							Swal.showValidationMessage('내용을 입력하세요.')
						}
						
						return { content: content }
					}
				}).then((result) => {
					if(result.isConfirmed) {
						var content = result.value.content;
						var param = { content: content, rsvNo: rsvNo }
						console.log(param);
						
						$.ajax({
							url: "/trainer/classInfo/regist",
							type: "post",
							async: false,
							data: JSON.stringify(param),
							contentType: 'application/json; charset=utf-8',
							success: function(data) {
								if(data) {
									Swal.fire({
										icon: 'success',
										text: '수업 내용 등록이 완료되었습니다.'
									}).then((result) => {
										location.reload();
									})
								} else {
									Swal.fire({
										icon: 'error',
										text: '수업 내용 등록에 실패했습니다. 다시 시도해 주세요.'
									})
								}
							},
							error: function(e) {
								console.log('수업 등록 실패');
								console.log(e);
							}
						});
					}
				})
			}
		</script>
	</th:block>
</body>
</html>