<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaspa.healthtouch.center.trainer.model.dao.TrainerMapper">
	
	<resultMap type="com.jaspa.healthtouch.center.trainer.model.dto.TrainerSalaryDTO" id="trainerSalResultMap">
		<id property="salNo" column="SAL_NO"/>
		<result property="salDate" column="SAL_DATE"/>
		<result property="ptCount" column="PT_COUNT"/>
		<result property="totalSalary" column="SAL_TOTAL"/>
		
		<association property="trainer" resultMap="trainerInfoResultMap"/>
		<association property="salCondition" resultMap="salConditionResultMap"/>
	</resultMap>
	

	<resultMap type="com.jaspa.healthtouch.center.trainer.model.dto.SalaryConditionDTO" id="salConditionResultMap">
		<id property="conditionNO" column="SAL_CON_NO"/>
		<result property="basicSalary" column="SAL_BASIC"/>
		<result property="ptPrice" column="PT_PRICE"/>
		<result property="commission" column="COMMISION"/>
		<result property="conStatus" column="SAL_CON_STATUS"/>
		
		<association property="trainer" resultMap="trainerInfoResultMap"/>
	</resultMap>
	 
	<resultMap type="com.jaspa.healthtouch.center.trainer.model.dto.HolidayDTO" id="holidayResultMap">
		<id property="hReqNo" column="H_REQ_NO"/>
		<result property="reqHday" column="HDATE_REQ"/>
		<result property="hReason" column="H_REASON"/>
		<result property="hStatus" column="H_STATUS"/>
		<result property="rejReason" column="H_REJ_REASON"/>
		<result property="hDay" column="HDATE"/>
		
		<association property="trainer" resultMap="trainerInfoResultMap"/>
	</resultMap> 
	 
	<resultMap type="com.jaspa.healthtouch.center.trainer.model.dto.TrainerInfoDTO" id="trainerInfoResultMap">
		<id property="trNum" column="TRN_NUM"/>
		<result property="career" column="TRN_CAREER"/>
		<result property="trStatus" column="TRN_HOLD"/>
		<result property="trId" column="TRN_INFO_MEMBER_ID"/>
		
		<association property="member" resultMap="memberResultMap"/>
		<association property="schedule" resultMap="scheduleResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.center.trainer.model.dto.AttendanceDTO" id="attendanceResultMap">
		<id property="attNo" column="TRN_RECORD_NO"/>
		<result property="attendTime" column="TRN_ATTEND_TIME"/>
		<result property="leaveTime" column="TRN_LEAVE_TIME"/>
		<result property="attKind" column="TRN_REC_KIND"/>
		
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberDTO" id="memberResultMap">
		<id property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="contact" column="MEMBER_CONTACT"/>
		<result property="num" column="MEMBER_NUM"/>
		<result property="birthday" column="MEMBER_BIRTHDAY"/>
		<result property="age" column="MEMBER_AGE"/>
		<result property="gender" column="MEMBER_GENDER"/>
		<result property="address" column="MEMBER_ADDRESS"/>
		<result property="type" column="MEMBER_TYPE"/>
		<result property="status" column="MEMBER_STATUS"/>
		
		<association property="memberRole" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberRoleDTO" id="memberRoleResultMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="authorityCode" column="AUTHORITY_CODE"/>
		
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.trainer.schedule.model.dto.TrainerScheduleDTO" id="scheduleResultMap">
		<id property="no" column="TRN_SCH"/>
		<result property="title" column="TRN_SCH_NAME"/>
		<result property="weekday" column="TRN_SCH_WEEK"/>
		<result property="fromTimeHour" column="TRN_SCH_START"/>
		<result property="toTimeHour" column="TRN_SCH_END"/>
		<result property="colre" column="TRN_SCH_COLOR"/>
		
		<association property="member" resultMap="memberResultMap"/>
	
		
	</resultMap>
	
	<!-- 트레이너 조회 -->
	<select id="selectAllTrainer" resultMap="trainerInfoResultMap">
		
	 SELECT    E.RNUM
  			 , E.TRN_NUM
			 , E.TRN_HOLD
			 , E.MEMBER_NAME
			 , E.MEMBER_GENDER
			 , E.MEMBER_ID
			 , E.MEMBER_CONTACT
			 , E.TRN_CAREER
		  FROM (SELECT ROWNUM RNUM
		  			 , D.TRN_NUM
					 , D.TRN_HOLD
					 , D.MEMBER_NAME
					 , D.MEMBER_GENDER
					 , D.MEMBER_ID
					 , D.MEMBER_CONTACT
					 , D.TRN_CAREER
		  		  FROM (SELECT B.TRN_NUM
							 , B.TRN_HOLD
							 , A.MEMBER_NAME
							 , A.MEMBER_GENDER
							 , A.MEMBER_ID
							 , A.MEMBER_CONTACT
							 , B.TRN_CAREER	 
						  FROM TBL_MEMBER A
						  JOIN TBL_TRN_INFO B ON(A.MEMBER_ID = B.TRN_INFO_MEMBER_ID)
						
							<where>	
								<if test="trStatus == 'all'">
									(B.TRN_HOLD = '재직' OR B.TRN_HOLD = '퇴사')
								</if>
								<if test="trStatus == 'employeed'">
									B.TRN_HOLD = '재직'
								</if>
								<if test="trStatus == 'resign'">
									B.TRN_HOLD = '퇴사'
								</if>
							</where>
					
		  		  		<if test="searchKeyword != null and searchKeyword != ''">
							
								
								<if test="searchType == 'name'">
									AND A.MEMBER_NAME LIKE '%' || #{searchKeyword} || '%' 
								</if>
								<if test="searchType == 'id'">
									AND A.MEMBER_ID LIKE '%' || #{searchKeyword} || '%' 
								</if>
								<if test="searchType == 'contact'">
									AND A.MEMBER_CONTACT LIKE '%' || #{searchKeyword} || '%'
								</if>
							
						</if>
		  		  ) D
		  		 <![CDATA[
		  		  WHERE ROWNUM <= #{ paginationInfo.firstRecordIndex } + #{ recordsPerPage }
		  		  ]]>
		         ) E
		     JOIN TBL_MEMBER_ROLE C ON(E.MEMBER_ID = C.MEMBER_ID)
            WHERE C.AUTHORITY_CODE = 2
		      AND E.RNUM > #{ paginationInfo.firstRecordIndex }
		   ORDER BY E.RNUM
		 
	</select>
	
	
	<select id="selectAllTrainerTotalCount" parameterType="com.jaspa.healthtouch.center.trainer.model.dto.TrainerInfoDTO" resultType="int">
		SELECT COUNT(*)
		  FROM TBL_TRN_INFO TI
		  JOIN TBL_MEMBER M ON(M.MEMBER_ID = TI.TRN_INFO_MEMBER_ID)
		  JOIN TBL_MEMBER_ROLE MR ON(M.MEMBER_ID = MR.MEMBER_ID)
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="searchType == 'name'">
							AND M.MEMBER_NAME LIKE '%' || #{searchKeyword} || '%'
						</when>
						<when test="searchType == 'id'">
							AND M.MEMBER_ID LIKE '%' || #{searchKeyword} || '%'
						</when>
						<when test="searchType == 'contact'">
							AND M.MEMBER_CONTACT LIKE '%' || #{searchKeyword} || '%'
						</when>
					</choose>
				</when>
			</choose>
		</if>
	</select>
	
	
	 
	<!-- 트레이너 상세정보 -->
	<select id="detailTrainerById" resultMap="trainerInfoResultMap">
		SELECT
				M.MEMBER_NAME
			  , M.MEMBER_GENDER
			  , M.MEMBER_ID
			  , M.MEMBER_CONTACT
			  , TI.TRN_CAREER
			  , TI.TRN_HOLD
		 FROM TBL_MEMBER M
		 JOIN TBL_TRN_INFO TI ON(M.MEMBER_ID = TI.TRN_INFO_MEMBER_ID)
		 JOIN TBL_MEMBER_ROLE MR ON(M.MEMBER_ID = MR.MEMBER_ID)
		 WHERE M.MEMBER_ID = #{ trId }
	</select>
	 
	 <!-- 트레이너 퇴사 -->
	 <update id="deleteTrainer">
	 	UPDATE TBL_TRN_INFO
	 	   SET TRN_HOLD = '퇴사'
	 	 WHERE TRN_INFO_MEMBER_ID = #{ trId }
	 	   AND TRN_HOLD = '재직' 
	 </update>
	 
	 <update id="deleteTrainerMStatus">
	 	UPDATE TBL_MEMBER
	 	   SET MEMBER_STATUS = 'N'
	 	 WHERE MEMBER_ID = #{ trId }
	 	   AND MEMBER_STATUS = 'Y'
	 </update>
	 
	 <!-- 급여 리스트 조회 -->
	 <select id="selectAllSalary" resultMap="trainerSalResultMap">
	 	SELECT 
	 			S.SAL_NO
	 		  , M.MEMBER_NAME
	 		  , M.MEMBER_ID
	 		  , SC.SAL_BASIC
	 		  , SC.PT_PRICE
	 		  , S.PT_COUNT
	 		  , SC.COMMISSION
	 		  , S.SAL_TOTAL
	      FROM TBL_SAL_CON SC
	      JOIN TBL_SALARY S ON(SC.SAL_CON_NO = S.SAL_CON_NO)
	      JOIN TBL_TRN_INFO TI ON(SC.SAL_TRN_NUM = TI.TRN_NUM)
	      JOIN TBL_MEMBER M ON(TI.TRN_INFO_MEMBER_ID = M.MEMBER_ID)
	     WHERE SC.SAL_CON_STATUS = 'Y'
	      	       
	 </select>
	 
	 <!-- 휴가 요청 조회 -->
	 <select id="selectAllHodlidayRequest" resultMap="holidayResultMap">
	 	
     SELECT    E.RNUM
		 	 , E.H_REQ_NO
	 		 , E.HDATE_REQ
	 		 , E.MEMBER_NAME
	 		 , E.MEMBER_ID
	 		 , E.H_REASON
	 		 , E.HDATE
	 		 , E.H_STATUS
		  FROM (SELECT ROWNUM RNUM
		  			 , D.H_REQ_NO
			 		 , D.HDATE_REQ
			 		 , D.MEMBER_NAME
			 		 , D.MEMBER_ID
			 		 , D.H_REASON
			 		 , D.HDATE
			 		 , D.H_STATUS
		  		  FROM (SELECT
					 		   A.H_REQ_NO
					 		 , A.HDATE_REQ
					 		 , C.MEMBER_NAME
					 		 , C.MEMBER_ID
					 		 , A.H_REASON
					 		 , A.HDATE
					 		 , A.H_STATUS
					     FROM TBL_HDAY_REQ A
					     JOIN TBL_TRN_INFO B ON(A.H_TRN_NUM = B.TRN_NUM)
					     JOIN TBL_MEMBER C ON(B.TRN_INFO_MEMBER_ID = C.MEMBER_ID)
						
							<where>	
								<if test="hStatus == 'all'">
									(A.H_STATUS = '대기' OR A.H_STATUS = 'Y' OR A.H_STATUS = 'N')
								</if>
								<if test="hStatus == 'waiting'">
									A.H_STATUS = '대기'
								</if>
								<if test="hStatus == 'approval'">
									A.H_STATUS = 'Y'
								</if>
								<if test="hStatus == 'reject'">
									A.H_STATUS = 'N'
								</if>
							</where>
							<if test="searchKeyword != null and searchKeyword != ''">
							
								<if test="searchType == 'name'">
									AND C.MEMBER_NAME LIKE '%' || #{searchKeyword} || '%' 
								</if>
								<if test="searchType == 'id'">
									AND C.MEMBER_ID LIKE '%' || #{searchKeyword} || '%' 
								</if>
						
							</if>
		  		  ) D
		  		 <![CDATA[
		  		  WHERE ROWNUM <= #{ paginationInfo.firstRecordIndex } + #{ recordsPerPage }
		  		  ]]>
		         ) E
		   
            WHERE E.RNUM > #{ paginationInfo.firstRecordIndex }
		   ORDER BY E.RNUM
	 </select>
	 
	 <select id="selectAllHolidayTotalCount" parameterType="com.jaspa.healthtouch.center.trainer.model.dto.HolidayDTO" resultType="int">
		SELECT COUNT(*)
		  FROM TBL_HDAY_REQ A
	      JOIN TBL_TRN_INFO B ON(A.H_TRN_NUM = B.TRN_NUM)
	      JOIN TBL_MEMBER C ON(B.TRN_INFO_MEMBER_ID = C.MEMBER_ID)
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="searchType == 'name'">
							AND C.MEMBER_NAME LIKE '%' || #{searchKeyword} || '%'
						</when>
						<when test="searchType == 'id'">
							AND C.MEMBER_ID LIKE '%' || #{searchKeyword} || '%'
						</when>
					</choose>
				</when>
			</choose>
		</if>
	</select>
	 
	 <!-- 근태 조회 -->
	 <select id="selectAllAttendance" resultMap="attendanceResultMap">
	 
	 	SELECT
	 			TR.TRN_RECORD_NO
	 		  , M.MEMBER_NAME
	 		  , M.MEMBER_ID
	 		  , TR.TRN_ATTEND_TIME
	 		  , TR.TRN_LEAVE_TIME
	 	  FROM TBL_TRN_RECORD TR	
	 	  JOIN TBL_MEMBER M ON(TR.TRN_REC_MEMBER_ID = M.MEMBER_ID)
	 
	 </select>

</mapper>
	