<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaspa.healthtouch.center.tr_management.model.dao.TrainerMapper">
	 
	<resultMap type="com.jaspa.healthtouch.center.tr_management.model.dto.TrainerInfoDTO" id="trainerInfoResultMap">
		<id property="trNum" column="TRN_NUM"/>
		<result property="career" column="TRN_CAREER"/>
		<result property="trStatus" column="TRN_HOLD"/>
		<result property="trId" column="TRN_INFO_MEMBER_ID"/>
		
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberDTO" id="memberResultMap">
		<id property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="contact" column="MEMBER_CONTACT"/>
		<result property="num" column="MEMBER_NUM"/>
		<result property="birthday" column="MEMBER_BIRTHDAY"/>
		<result property="age" column="MEMBER_AGE"/>
		<result property="gender" column="MEMBER_GENDER"/>
		<result property="address" column="MEMBER_ADDRESS"/>
		<result property="type" column="MEMBER_TYPE"/>
		<result property="status" column="MEMBER_STATUS"/>
		
		<association property="memberRole" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberRoleDTO" id="memberRoleResultMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="authorityCode" column="AUTHORITY_CODE"/>
		
	</resultMap>
	
	<!-- 센터-트레이너 목록 조회 -->
	<select id="selectAllTrainer" resultMap="trainerInfoResultMap">
		SELECT 
			   TI.TRN_NUM
			 , TI.TRN_HOLD
			 , M.MEMBER_NAME
			 , M.MEMBER_GENDER
			 , M.MEMBER_ID
			 , M.MEMBER_CONTACT
			 
		  FROM TBL_MEMBER M
		  JOIN TBL_TRN_INFO TI ON(M.MEMBER_ID = TI.TRN_INFO_MEMBER_ID)
		  JOIN TBL_MEMBER_ROLE MR ON(M.MEMBER_ID = MR.MEMBER_ID)
		 WHERE MR.AUTHORITY_CODE = 2
		 
	</select>


</mapper>
	