<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaspa.healthtouch.trainer.trainerInfo.model.dao.TrainerInfoMapper">


	<resultMap type="com.jaspa.healthtouch.trainer.trainerInfo.model.dto.TrainerMemberDTO" id="trainerResultMap">
		<id property="trNum" column="TRN_NUM"/>
		<result property="career" column="TRN_CAREER"/>		
		
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberDTO" id="memberResultMap">
		<id property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="contact" column="MEMBER_CONTACT"/>
		<result property="num" column="MEMBER_NUM"/>
		<result property="birthday" column="MEMBER_BIRTHDAY"/>
		<result property="age" column="MEMBER_AGE"/>
		<result property="gender" column="MEMBER_GENDER"/>
		<result property="address" column="MEMBER_ADDRESS"/>
		<result property="type" column="MEMBER_TYPE"/>
		<result property="status" column="MEMBER_STATUS"/>

		<association property="memberRole" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberRoleDTO" id="memberRoleResultMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="authorityCode" column="AUTHORITY_CODE"/>
				<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.AuthorityDTO" id="authorityResultMap">
		<id property="code" column="REF_AUTHORITY_CODE2"/>
		<result property="name" column="AUTHORITY_NAME"/>
		<result property="desc" column="AUTHORITY_DESC"/>
	</resultMap>
	
	<!-- 트레이너 정보 조회 -->
	<select id="selectTrainer" resultMap="trainerResultMap">
		SELECT 
			   M.MEMBER_NAME
			 , M.MEMBER_CONTACT
			 , M.MEMBER_ADDRESS
			 , M.MEMBER_BIRTHDAY
			 , TI.TRN_CAREER
		  FROM TBL_MEMBER M
		  JOIN TBL_TRN_INFO TI ON(M.MEMBER_ID = TI.TRN_INFO_MEMBER_ID)
		 WHERE M.MEMBER_ID = #{ id }
		 
	</select>
	
	
	<!-- 트레이너 정보 수정 -->
	<update id="updateTrainer">
		UPDATE TBL_MEMBER
		   SET MEMBER_NAME = #{ name }
		     , MEMBER_CONTACT = #{ contact }
		     , MEMBER_ADDRESS = #{ address }
		     , MEMBER_BIRTHDAY = #{ birthday }
		 WHERE MEMBER_ID = #{ id }
		   AND MEMBER_STATUS = 'Y'
	</update>
	
	
	<update id="updateTrainerInfo">
			UPDATE TBL_TRN_INFO
		       SET TRN_CAREER = #{ career }
		     WHERE TRN_INFO_MEMBER_ID = #{ id }
	</update>
	
	
	
	
	</mapper>