<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/center/product/proRegist.css}"/>
    <!-- replace head 부분 -->
    <div th:replace="/common/centerHeader.html :: center-header"></div>
    <!-- 제이쿼리 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="body-pd"> <!-- sidebar 적용위해 id 추가 -->
	<!-- 헤더 body 추가 -->
	<div th:replace="/common/centerHeader.html :: center-body"></div>
    <!-- 최대 크기 768 로 맞춰서 / 타이틀 <2> / 기본폰트 15px (표 상단은 bold 처리) / 참고문구는 12px -->
    <div class="height-100 width-768">
        <div class="title-box">
            <h2>상품 등록</h2>
        </div>
        <form action="/center/product/proRegist" method="post">
            <select class="pro-category" name="categoryNo" id="pro-category">
                <option value="10">회원권 상품</option>
                <option value="20">수강권 상품</option>
                <option value="30">락커 이용권</option>
                <option value="40">운동복 이용권</option>
            </select>
            <table>
                <tr>
                    <th colspan="2">상품 기본 정보 입력</th>
                </tr>
                <tr>
                    <td>
                        상품명
                    </td>
                    <td class="table-left-input">
                        <input type="text" name="name" placeholder="등록할 상품명 입력"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        상품가격
                    </td>
                    <td class="table-left-input">
                        <input type="number" name="price" placeholder="등록할 상품 가격 등록">&nbsp;원<br>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th colspan="2">이용기간/횟수 설정</th>
                </tr>
                <tr>
                    <td>
                        이용기간
                    </td>
                    <td class="table-left-input" id="period">
                        <input type="number" name="usePeriod" placeholder="등록할 상품 기간 입력 (숫자만 입력)" value="0">&nbsp;개월<br>
                    </td>
                </tr>
                <tr>
                    <td>
                        이용횟수
                    </td>
                    <td class="table-left-input" id="count">
                        <input type="number" name="useCount" placeholder="등록할 상품 이용 횟수 입력 (숫자만 입력)" value="0">&nbsp;회<br>
                    </td>
                </tr>
            </table>
            <div class="pro-regist">
                <button type="submit">상품 등록</button>
            </div>
            </form>
        </div>
</body>
	<script type="text/javascript">
		// 파라미터로 넘어온 값 추출
		function getParameterByName(name) { 
			name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); 
			let regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), 
			results = regex.exec(location.search); 
			return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " ")); 
			}
		
		let categoryNo = getParameterByName('categoryNo');
		console.log("categoryNo :", categoryNo);
	
		// 넘어온 파라미터와 동일한 값 선택
		$(function(){
			$("#pro-category").val(categoryNo).attr("selected","selected");
		})
	</script>
	<script>
		$(document).ready(function() {
			  $('#pro-category').ready(function() {
			    var result = $('#pro-category option:selected').val();
			    if (result == '20') {
			      $('#count').show();
			      $('#period').hide();
			    } else {
			      $('#count').hide();
			      $('#period').show();
			    }
			  }); 
			}); 
	</script>
	
</html>