<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>공지사항</title>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
 	<div sec:authorize="hasRole('ROLE_CENTER')"  th:replace="/common/centerHeader.html :: center-header"></div>
 	<div sec:authorize="hasRole('ROLE_MEMBER')" th:replace="/common/memberHeader.html :: member-header"></div>
 	<div sec:authorize="hasRole('ROLE_TRAINER')" th:replace="/common/trnHeader.html :: trn-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>     
   
  <body id="body-pd" class='snippet-body '  style="min-height:80vh">
  
 <div sec:authorize="hasRole('ROLE_CENTER')" th:replace="/common/centerHeader.html :: center-body"></div>
  <div sec:authorize="hasRole('ROLE_MEMBER')" th:replace="/common/memberHeader.html :: member-body"></div>
  <div sec:authorize="hasRole('ROLE_TRAINER')"th:replace="/common/trnHeader.html :: trn-body"></div>
  
  <div class="container mt-5">
<div class="d-flex justify-content-center row">
<div class="col-md-10">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">공지사항</h2>
 </div>
 <!-- 공지사항 검색 -->
 <th:block layout:fragment="search">
 <form id="searchForm"  th:action="@{/notice/notice}" method="get" class="input-group  " style="width: 40%; display:flex" role="form">
      	<input type="hidden" name="currentPageNo" value="1"/>
		<input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}"/>
		<input type="hidden" name="pageSize" th:value="${params.pageSize}"/>
      	<select name="searchType" class="form-select" style="height: 32px;" aria-label="Default select example" required>
          <option value="title" th:selected="${#strings.equals(params.searchType, 'title')}">제목</option>
          <option value="content" th:selected="${#strings.equals(params.searchType, 'content')}">내용</option>
        </select>
          <div  class="input-group mb-3" style="width: 200px;"  >
           <input type="text" name="searchKeyword" id="searchKeyword"  th:value="${params.searchKeyword}"  class="form-control input-text" placeholder="검색" >
              <div class="search_btn input-group-append"> <button class="btn btn-sm"  id="searchBtn" type="button" style="height: 32px;"><i class="bx bx-search"></i></button> </div>
          </div>
  </form>
  	</th:block>
 <!-- 공지사항 목록 -->
<th:block layout:fragment="content">
<table class="table">
<thead>
<tr>
  <th class="text-center">번호</th>
  <th>제목</th>
  <th>조회수</th>
  <th>작성일</th>
</tr> 
</thead>
<tbody class="table-body" >
<tr class="cell-1" th:if="${not #lists.isEmpty( noticeList )}" th:each="list : ${noticeList}"  >
  <td class="text-center"th:text="${list.noticeNo}"></td>
 <td class="col-md-auto title" id="title"><a th:href="|@{/notice/noticedetail?noticeNo={no}(no=${ list.noticeNo })}|" th:text="${list.noticeTitle}"></a></td>
  <td th:text="${list.noticeView}"></td>
  <td th:text="${#dates.format(list.noticeDate,'yyyy-MM-dd')}"></td>
</tr>
<tr class="cell-1" th:unless="${not #lists.isEmpty( noticeList )}">
  <td colspan="4"> 조회된 결과가 없습니다. </td>
</tr>

</tbody>
</table>
</th:block>
<button sec:authorize="hasRole('ROLE_CENTER')" onclick="location.href='/notice/noticeregist'" type="button" class="btn btn-outline-secondary">글작성</button>
 <!-- 공지사항 페이징 -->
<th:block layout:fragment="paging">
<nav th:fragment="pagination" th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" aria-label="Page navigation" class="text-center">
  <ul class="pagination flex-wrap d-flex justify-content-center">
      <li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1)} ]])"> 
      	<a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true"><i class="bx bxs-chevron-left"></i></span></a>
      </li>
      <li class="page-item"  th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == params.currentPageNo} ? 'active'" > 
      	<a class="page-link" href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]])"></a>
      </li>
      <li class="page-item"  th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]])"> 	
      	<a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true" ><i class='bx bxs-chevron-right'></i></span></a>
      </li>
  </ul>
</nav >
</th:block>
</div>
</div>
</div>
</div>
</div>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
			function movePage(uri, queryString) {
				location.href = uri + queryString;
			}
			
			/* function searchMemberInfo(form) {
				var searchKeyword = document.getElementById("searchKeyword");
				if(isEmpty(searchKeyword.value) == true) {
					Swal.fire({
	    				icon: 'warning',
	    				text: '키워드를 입력해 주세요',
		    		})
		    		searchKeyword.focus();
					return false;
				}
			} */
			/*[- end of function -]*/
			
			/*]]>*/
		</script>
	</th:block>
</body>
</html> 