<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org"> 
                           
<head>  
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>공지사항 등록</title>
 	<div sec:authorize="hasRole('ROLE_CENTER')"  th:replace="/common/centerHeader.html :: center-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>     
  
  <body id="body-pd" class='snippet-body ' >

 <div sec:authorize="hasRole('ROLE_CENTER')" th:replace="/common/centerHeader.html :: center-body"></div>
 
   
<div class="d-flex justify-content-center row">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">공지사항 등록</h2>
 </div>
     <!-- 공지사항 등록페이지 -->
<div class="notice rounded">
  <div class="regist">
    <form role="form" th:action="@{/notice/noticeregist}" class="needs-validation" method="post" >
    <div id="regist-title">
      <label class="form-label" style="font-size: 15px;" ><strong>제목</strong></label>
        <input  type="text" class="form-control" id="noticeTitle" name="noticeTitle" placeholder="제목을 입력하세요." required>
          <input  type="text" class="form-control" id="memberId" name="memberId" hidden>
    <div class="contentwritebox">
      <label  class="form-label"><strong>내용</strong></label>
   	  <textarea class="regist-content form-control" id="noticeContent" name="noticeContent" placeholder="내용을 입력하세요." required> </textarea> 
  </div>  
 
    <hr id="line">
   <button type="submit" class="btn btn-outline-secondary" value="등록"  name="submit"  id="noticeregist">등록</button>
  <button th:onclick="'location.href=\''+@{/notice/notice} + '\''"type="button" class="btn btn-outline-secondary "value="취소"  name="cancel"  >취소</button>
      <script>
			$().ready(function () {
            $("#noticeregist").click(function () {
                Swal.fire({
 					  type: "post",
					  url: "url",
					  processData: false,
                      contentType: false,
					  title: '게시글 등록',
					  text: "게시글이 등록되었습다.",
				      imageUrl: '../images/successicon.png',
					  imageWidth: 100,
				      imageHeight: 100,
				      imageAlt: 'Custom image',
					  confirmButtonColor: '#1b1b55',
                });
            });
        });
      </script>
    </form>
  </div>
</div>
</body>
</html> 