<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>공지사항 상세조회</title>
 	<div sec:authorize="hasRole('ROLE_CENTER')"  th:replace="/common/centerHeader.html :: center-header"></div>
 	<div sec:authorize="hasRole('ROLE_MEMBER')" th:replace="/common/memberHeader.html :: member-header"></div>
 	<div sec:authorize="hasRole('ROLE_TRAINER')" th:replace="/common/trnHeader.html :: trn-header"></div>
  	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>      
  
  <body id="body-pd" class='snippet-body ' style='min-height: 130vh;'>
  
 <div sec:authorize="hasRole('ROLE_CENTER')" th:replace="/common/centerHeader.html :: center-body"></div>
  <div sec:authorize="hasRole('ROLE_MEMBER')" th:replace="/common/memberHeader.html :: member-body"></div>
  <div sec:authorize="hasRole('ROLE_TRAINER')"th:replace="/common/trnHeader.html :: trn-body"></div>
  
  <div class="container mt-5">
<div class="d-flex justify-content-center row">
<div class="col-md-10">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">공지사항</h2>
 </div>
 <!-- 공지사항 상세조회 -->
<div class="notice rounded">
<form th:object=${NoticeDTO} th:action="@{/notice/notice}" method="post">
<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <span th:text="${notice.noticeTitle}" class="bd_title" style="font-size: 15px;"></span>
    </div>
    <div class="justify-content-md-center">
      <span th:text="${notice.memberId}" class="mr-1"><i class='bx bx-user'></i></span> 
      <span th:text="${#notice.format(detail.noticeDate, 'yyyy-MM-dd')}"class="mr-1"><i class='bx bx-time-five' ></i> </span>
      <span  th:text="${notice.noticeView}"class="mr-1"><i class='bx bx-show-alt'></i> Views</span>　
    </div>
  </div>
  <hr id="line">
    <div  th:text="${notice.noticeContent}" id="bo_v_con" style="font-size: 12px;">
    </div>
  <hr id="line">
       <div id="regist-file" >
        <label for="firstName" class="form-label" style="font-size: 15px;">첨부파일</label>
        <a th:if="${file}" th:href="@{/notice/fileDown/{noticeNo} (noticeNo=${file.noticeNo})}">
        [[${file.file}]]
        </a>
    </div>
    <hr id="line">
    
	  <!-- 공지사항 목록, 수정,삭제 버튼 -->
    <div style="display:-webkit-box ">
      <button th:formaction="@{/notice/notice}" type="button" class="list_btn btn btn-outline-secondary">목록</button>
      <div sec:authorize="hasRole('ROLE_CENTER')" class=" regist-btn" style="padding-right: 7px; margin-left: 550px; ">
        <button th:formaction="@{/notice/noticeModify/{noticeNo}(noticeNo=${notice.noticeNo})}" type="button" class="btn btn-outline-secondary " value="수정">수정</button>
        <button  th:formaction="@{/notice/delete/{noticeNo}(noticeNo=${notice.noticeNo})}" type="button" class="btn btn-outline-secondary " value="삭제" id="noticedelete">삭제</button>
     	    
		        <script>
			                $().ready(function () {
			            $("#noticedelete").click(function () {
									            Swal.fire({
						  title: '게시글 삭제',
						  text: "게시글을 삭제하시겠습니까?",
						  imageUrl: '../images/checkicon.png',
						  imageWidth: 100,
						  imageHeight: 100,
						  imageAlt: 'Custom image',
						  showCancelButton: true,
						  confirmButtonColor: '#1b1b55',
						  cancelButtonColor: '#e2e2e2',
						  confirmButtonText: '삭제'
						}).then((result) => {
						  if (result.isConfirmed) {
						       Swal.fire({
						     title: '게시글 삭제',
						 	 text: "게시글이 삭제되었습니다",
						      imageUrl: '../images/successicon.png',
							  imageWidth: 100,
						      imageHeight: 100,
						      imageAlt: 'Custom image',
							  confirmButtonColor: '#1b1b55'
			         })
                    }
                })
            });
        });
	            </script>
      
      
      </div>
    </div>
</form>
  

  <hr id="line">
  
   <!-- 공지사항 댓글등록 -->
  <section id="comment">
    <form id="comment1">
      <input type="text" class="form-control" id="content" name="content" placeholder="내용을 입력하세요." required>
      <button type="submit" class="btn btn-outline-secondary" id="cmtregist" style="font-size: 15px;">등록</button>
      <script>
			$().ready(function () {
            $("#cmtregist").click(function () {
                Swal.fire({
					  title: '댓글등록',
					  text: "댓글이 등록되었습다.",
				      imageUrl: '../images/successicon.png',
					  imageWidth: 100,
				      imageHeight: 100,
				      imageAlt: 'Custom image',
					  confirmButtonColor: '#1b1b55',
                });
            });
        });
      </script>
    </form>
       <!-- 공지사항 댓글내역 -->
    <ul class="media-list">
      <li class="media">
          <div class="media-body row">
            <div class="col cm" >
              <span class="cm_writer">헬스헬스****</span>
              <span class="text-muted">
                  <small class="text-muted">2022.04.15</small>
              </span>
            </div>
              <p class="cm_content col-6">
                잘부탁 드립니다!
              </p>
              <div class="btn-group col">
                <a class="nav-link cm_btn pull-right " href="modal" data-toggle="modal" >수정</a>
                <a  type="button" id="cmtdelete" class="nav-link cm_btn pull-right" >삭제</a>
             
		        <script>
			                $().ready(function () {
			            $("#cmtdelete").click(function () {
									            Swal.fire({
						  title: '댓글 삭제',
						  text: "댓글을 삭제하시겠습니까?",
						  imageUrl: '../images/checkicon.png',
						  imageWidth: 100,
						  imageHeight: 100,
						  imageAlt: 'Custom image',
						  showCancelButton: true,
						  confirmButtonColor: '#1b1b55',
						  cancelButtonColor: '#e2e2e2',
						  confirmButtonText: '삭제'
						}).then((result) => {
						  if (result.isConfirmed) {
						       Swal.fire({
						      title:'댓글 삭제',
						   	  text: '삭제되었습니다.',
						      imageUrl: '../images/successicon.png',
							  imageWidth: 100,
						      imageHeight: 100,
						      imageAlt: 'Custom image',
							  confirmButtonColor: '#1b1b55'
			         })
                    }
                })
            });
        });
	            </script>
                
              </div>
          </div>
      </li>
    </ul>

  </section>
  
</div>


</body>
</html> 