<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>공지사항 수정</title>
 	<div th:replace="/common/centerHeader.html :: center-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>     
    
  <body id="body-pd" class='snippet-body ' >
  
  <div th:replace="/common/centerHeader.html :: center-body"></div>
   
<div class="d-flex justify-content-center row">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">공지사항 수정</h2>
 </div>
 
   <!-- 공지사항 수정페이지 -->
<div class="notice rounded">
  <div class="regist">
    <form class="needs-validation" th:action="@{/notice/noticemodify}" method="post" validate>
   <input type="hidden" name="noticeNo" th:value="${notice.noticeNo}">
    <div id="regist-title">
      <label for="title" class="form-label" style="font-size: 15px;"><strong>제목</strong></label>
        <input type="text" class="form-control" id="noticeTitle" th:value="${notice.noticeTitle}" name="noticeTitle" placeholder="내용을 입력하세요." required>
    </div>
    <br>
    <div class="contentwritebox">
      <label for="content" class="form-label"><strong>내용</strong></label>
   	  <textarea id="noticeContent" th:text="${notice.noticeContent}" name="noticeContent"  class="regist-content form-control" type="text"  required></textarea> 
  </div>
  <button type="submit" class="btn btn-outline-secondary" id="noticemodify">등록</button>
  <button type="button" th:onclick="'location.href=\''+@{/notice/notice} + '\''" class="btn btn-outline-secondary ">취소</button>
      <script>  
			$().ready(function () {
            $("#noticemodify").click(function () {
                Swal.fire({
					  title: '게시글 수정',
					  text: "게시글이 수정되었습다.",
				      imageUrl: '/images/successicon.png',
					  imageWidth: 100,
				      imageHeight: 100,
				      imageAlt: 'Custom image',
					  confirmButtonColor: '#1b1b55',
                });
            });  
        });
      </script>
    </form>
  </div>
</div>
</body>
</html> 