<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>공지사항 상세조회</title>
<div sec:authorize="hasRole('ROLE_CENTER')"  th:replace="/common/centerHeader.html :: center-header"></div>
 	<div sec:authorize="hasRole('ROLE_MEMBER')" th:replace="/common/memberHeader.html :: member-header"></div>
 	<div sec:authorize="hasRole('ROLE_TRAINER')" th:replace="/common/trnHeader.html :: trn-header"></div>
  	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>       
  
  <body id="body-pd" class='snippet-body ' style='min-height: 80vh;'>
 <div sec:authorize="hasRole('ROLE_CENTER')" th:replace="/common/centerHeader.html :: center-body"></div>
  <div sec:authorize="hasRole('ROLE_MEMBER')" th:replace="/common/memberHeader.html :: member-body"></div>
  <div sec:authorize="hasRole('ROLE_TRAINER')"th:replace="/common/trnHeader.html :: trn-body"></div>
  
  
  <div class="container mt-5">
<div class="d-flex justify-content-center row">
<div class="col-md-10">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">공지사항</h2>
 </div>
 <!-- 공지사항 상세조회 -->
<div class="notice rounded">
<div th:object="${notice}">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <span  name="title"  th:text="*{noticeTitle}" class="bd_title" style="font-size: 15px;"></span>
    </div>
    <div class="justify-content-md-center">
     <i class='bx bx-user' style="font-size: 12px;"><span th:if="*{memberId} == 'admin01'" class="mr-1">김센터</span></i> 
     <i class='bx bx-time-five'  style="font-size: 12px;"><span th:text="*{#dates.format(noticeDate, 'yyyy-MM-dd')}"class="mr-1"></span></i> 
     <i class='bx bx-show-alt' style="font-size: 12px;"> <span th:text="*{noticeView}" class="mr-1"></span> Views</i> 
    </div>
 
  <hr id="line">
    <div name="content" th:text="*{noticeContent}" id="bo_v_con" style="font-size: 12px;"></div>
    <hr id="line">
 </div>     
	  <!-- 공지사항 목록, 수정,삭제 버튼 -->
    <div style="display:-webkit-box ">
      <button th:onclick="'location.href=\''+@{/notice/notice} + '\''"type="button" style="font-size:12px;" class="list_btn btn btn-outline-secondary">목록</button>
      <div sec:authorize="hasRole('ROLE_CENTER')" class=" regist-btn" style="margin-left: 565px; ">
        <a th:href="@{'/notice/noticemodify?noticeNo=' + ${ notice.noticeNo }}" style="font-size: 12px;" type="button" class="btn btn-outline-secondary " value="수정">수정</a>
        <a  th:href="@{'/notice/delete?noticeNo=' + ${ notice.noticeNo }}" style="font-size: 12px;" type="button" class="btn btn-outline-secondary " value="삭제"  onclick="noticedelete()" id="noticedelete">삭제</a>
     
      </div>
    </div>
 <br>
 
   <!-- 공지사항 댓글등록 -->
  <div id="commentRegist">
   <label><strong>댓글</strong></label>
    <form name="cmtRegist" th:action="@{/notice/cmtRegist}"method="post" id="comment1"> 
    <div class="input-group">
    <input type="hidden" name="noticeNo" id="noticeNo" th:value="${notice.noticeNo}">
      <input type="text" class="form-control" id="cmtContent" name="cmtContent" placeholder="내용을 입력하세요." required>
      <button type="submit" class="btn btn-outline-secondary" name="cmtRegist" id="cmtRegist" style="font-size: 11px;">등록</button>
    </div>
    </form>   
  </div>   
  <br>
 
 
  <!-- 공지사항 댓글내역 -->
    <div id="comment"  th:each="cmt : ${commentList}" >
     <ul class="media-list">
     <li class="media">
			<div class="media-body row">
		             <div class="col cm" >
		                <span class="cm_writer"  style="font-size: 13px;" th:text="${cmt.memberId}" ></span>
		                <span class="text-muted"><small class="text-muted" style="font-size: 12px;" th:text="${#dates.format(cmt.cmtDate,'yyyy-MM-dd')}"></small></span>
		              </div>
		              <p class="cm_content col-6"  style="font-size: 12px;" th:text="${cmt.cmtContent}"></p>
		              <div class="btn-group col" th:if="${#authentication.principal.username} == ${cmt.memberId}">
		                <a type="submit" class="nav-link cm_btn pull-right" id="cmtModify" th:onclick="cmtModify([[ ${cmt.cmtNo} ]])">수정</a>
		                <a type="button" class="nav-link cm_btn pull-right" id="cmtDelete"  th:href="@{/notice/cmtDelete(cmtNo= ${cmt.cmtNo} ,noticeNo=${ cmt.noticeNo }) }">삭제</a>
		              </div>
		                </div>
		             </li>
		       </ul>
  </div>
  
  
  <!-- 공지사항 댓글수정 -->
    <script th:inline="javascript">
    	function cmtModify(cmtNo) {
    		Swal.fire({
    			title: '댓글 수정',
    			html:
			      ` 
			      <input type="text" class="form-control" id="cmtContent" name="cmtContent" th:value="${comment.cmtContent}" placeholder="내용을 입력하세요." required>
			      `,
				confirmButtonText:'수정',
				focusConfirm: false,
				showDenyButton: true,
				denyButtonText: '취소',
				preConfirm: () => {
					const cmtContent = Swal.getPopup().querySelector('#cmtContent').value
					
					if(!cmtContent) {
						Swal.showValidationMessage('수정할 댓글을 입력하세요.')
					}
					
					return { cmtNo: cmtNo, cmtContent: cmtContent}
				}
    		}).then((result) => {
    			if(result.isConfirmed) {
					console.log(cmtNo);
					var cmtNo = result.value.cmtNo;
    				var cmtContent = result.value.cmtContent;
        			var param = { cmtContent: cmtContent,cmtNo: cmtNo } //객체
           			$.ajax({
           				url: "/notice/cmtModify",
           				type: "post",
           				async: false, //비동기 여부 
       					data: JSON.stringify(param), //데이터 보내는 방식
       					contentType: 'application/json; charset=utf-8',
       					success: function(data) {
							console.log(data);
       						if(data) {
       							Swal.fire({
       	   							icon: 'success',
       	       		    			text: '댓글이 수정되었습니다.',
       	       		    			confirmButtonText: '확인',
       	   						}).then((result) => {
       	   							location.reload();
       	   						})
       						} else {
       							Swal.fire({
       	   							icon: 'error',
       	       		    			text: '수정이 실패되었습니다.',
       	   						})
       						}
       					},
       					error: function(e) {
       						console.log('댓글수정 실패');
       						console.log(e);
       					}
           			});
				}
    		})
    	}
    </script>
 
</body>
</html> 