<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>공지사항</title>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
 	<div th:replace="/common/centerHeader.html :: center-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>     
  
  <body id="body-pd" class='snippet-body '  style="min-height:80vh">
  
  <div th:replace="/common/centerHeader.html :: center-body"></div>
  
  <div class="container mt-5">
<div class="d-flex justify-content-center row">
<div class="col-md-10">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">공지사항</h2>
 </div>

 <div >
  <div class="row search">
      <div class="col-md-12" >
          <div class="input-group mb-3" > <input type="text" class="form-control input-text" placeholder="검색" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="search_btn input-group-append"> <button class="btn btn-sm" type="button"><i class="bx bx-search"></i></button> </div>
          </div>
      </div>
  </div>
</div>

<table class="table">
<thead>
<tr>
  <th class="text-center">번호</th>
  <th>제목</th>
  <th>조회수</th>
  <th>작성일</th>
  <th>작성자</th>
</tr>
</thead>
<tbody class="table-body">
<tr class="cell-1">
  <td class="text-center">6</td>
  <td class="col-md-auto" id="title" ><a href="#">2022년도 세계피트니스선수권대회 제1차 국가대표 선발전 개최 통보</a></td>
  <td>6</td>
  <td>22.04.15</td>
  <td>센터</td>
</tr>
<tr class="cell-1">
  <td class="text-center">5</td>
  <td class="col-md-auto" id="title" ><a href="#">코로나19 정부 지침 관련 운동기간 연장안내</a></td>
  <td>5</td>
  <td>22.04.15</td>
  <td>센터</td>
</tr>
<tr class="cell-1">
  <td class="text-center">4</td>
  <td class="col-md-auto" id="title" ><a href="#">운영시간 및 이용 수칙 안내</a></td>
  <td>4</td>
  <td>22.04.15</td>
  <td>센터</td>
</tr>
<tr class="cell-1">
  <td class="text-center">3</td>
  <td class="col-md-auto"id="title"  ><a href="#">코로나19 관련 홀딩 및 시작일 연기 공지</a></td>
  <td>3</td>
  <td>22.04.15</td>
  <td>센터</td>
</tr>
<tr class="cell-1">
  <td class="text-center">2</td>
  <td class="col-md-auto" id="title" ><a href="#">입사지원 안내</a></td>
  <td>2</td>
  <td>22.04.15</td>
  <td>센터</td>
</tr>
<tr class="cell-1">
  <td class="text-center">1</td>
  <td class="col-md-auto" id="title" ><a href="#">2022년 4월 15일 헬스터치 런칭</a></td>
  <td>1</td>
  <td>22.04.15</td>
  <td>센터</td>
</tr>
</tbody>
</table>
<button type="button" class="btn btn-outline-secondary">글작성</button>
<nav>
  <ul class="pagination flex-wrap d-flex justify-content-center">
      <li class="page-item"><a class="page-link" href="#" data-abc="true"><i class="bx bxs-chevron-left"></i></a></li>
      <li class="page-item active"><a class="page-link" href="#" data-abc="true">1</a></li>
      <li class="page-item"><a class="page-link" href="#" data-abc="true">2</a></li>
      <li class="page-item"><a class="page-link" href="#" data-abc="true">3</a></li>
      <li class="page-item"><a class="page-link" href="#" data-abc="true">4</a></li>
      <li class="page-item"><a class="page-link" href="#" data-abc="true"><i class='bx bxs-chevron-right'></i></a></li>
  </ul>
</nav>
</div>
</div>
</div>
</div>
</div>
</body>
</html> 