<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>1:1문의 상세조회</title>
	<div sec:authorize="hasRole('ROLE_CENTER')"  th:replace="/common/centerHeader.html :: center-header"></div>
 	<div sec:authorize="hasRole('ROLE_MEMBER')" th:replace="/common/memberHeader.html :: member-header"></div>
 	<div sec:authorize="hasRole('ROLE_TRAINER')" th:replace="/common/trnHeader.html :: trn-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/qna.css}"/> 
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>     
  
  <body id="body-pd" class='snippet-body ' style='min-height: 100vh;' >
   
 <div sec:authorize="hasRole('ROLE_CENTER')" th:replace="/common/centerHeader.html :: center-body"></div>
  <div sec:authorize="hasRole('ROLE_MEMBER')" th:replace="/common/memberHeader.html :: member-body"></div>
  <div sec:authorize="hasRole('ROLE_TRAINER')"th:replace="/common/trnHeader.html :: trn-body"></div>
  <div class="container mt-5">
<div class="d-flex justify-content-center row">
<div class="col-md-10">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">1:1문의</h2>
 </div>
 <!-- 1:1문의 상세조회-->
<div class="notice rounded">
  <div th:object="${qna}">
  <div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <span class="bd_title" style="font-size: 15px;" name="qTitle"  th:text="*{qTitle}"></span>
    </div>
    <div class="justify-content-md-center">
     <i class='bx bx-user'><span class="mr-1" th:text="*{memberId}"></span></i>
     <i class='bx bx-time-five' ><span class="mr-1" th:text="*{#dates.format(qDate, 'yyyy-MM-dd')}"></span></i>
      <span class="mr-1"th:text="${ qna.questionCategory.categoryKind}"></span>　
    </div>
  </div>
  <hr id="line">
    <div id="bo_v_con1" style="font-size: 12px;" name="qContent" th:text="*{qContent}"></div>
  </div>
  <hr id="line">
     <!-- 1:1문의 목록, 수정,삭제 버튼 -->
      <div style="display:-webkit-box ">
      <button type="button" class="list_btn btn btn-outline-secondary" th:onclick="'location.href=\''+@{/notice/qna} + '\''" >목록</button>
      <div th:if="${#authentication.principal.username} == ${qna.memberId}" class=" regist-btn pull-right" style="padding-right: 7px; margin-left: 550px;" >
	  <a th:href="@{'/notice/qnamodify?qNo=' + ${qna.qNo}}" type="button" class="btn btn-outline-secondary " value="수정">수정</a>
      <a th:href="@{'/notice/qnadelete?qNo=' + ${qna.qNo}}"type="button" class="btn btn-outline-secondary " value="삭제"  id="qnadelete">삭제</a>

		        <script>
			                $().ready(function () {
			            $("#inquirydelete").click(function () {
									            Swal.fire({
						  title: '문의글 삭제',
						  text: "문의글을 삭제하시겠습니까?",
						  imageUrl: '../images/checkicon.png',
						  imageWidth: 100,
						  imageHeight: 100,
						  imageAlt: 'Custom image',
						  showCancelButton: true,
						  confirmButtonColor: '#1b1b55',
						  cancelButtonColor: '#e2e2e2',
						  confirmButtonText: '삭제'
						}).then((result) => {
						  if (result.isConfirmed) {
						    Swal.fire({
						      title:'문의글 삭제',
						   	  text: '삭제되었습니다.',
						      imageUrl: '../images/successicon.png',
							  imageWidth: 100,
						      imageHeight: 100,
						      imageAlt: 'Custom image',
							  confirmButtonColor: '#1b1b55'
			         })
                    }
                })
            });
        });
	            </script>
                
        </div>

    </div>
  
  <!-- 1:1문의 답글 -->
  <section id="comment" >
  
  <!-- 1:1문의 답글등록 -->
  <div id="replyRegist">
    <form id="comment1" th:action="@{/notice/replyRegist}" sec:authorize="hasAnyRole('ROLE_CENTER', 'ROLE_TRAINER')" method="post">
      <input type="hidden" name="qNo" th:value="${qna.qNo}">
      <input type="text" class="cmt-content rounded" name="aContent" id="aContent" placeholder="내용을 입력하세요." style="resize: none;" required></input>
      <button type="submit" class="btn_cmt btn-outline-secondary rounded" id="replyregist" style="font-size: 15px;">등록</button>
    </form>
  </div>
    
      <!-- 1:1문의 답글내역 -->
     <div class="comment mt-1 text-justify rounded" th:each="answer: ${answerList}"> 
     <div style="display:flex">
      <div style="display:grid" >
        <span  style="font-size:13px; align-self: center;" th:value="${answer.memberId}">센터측 답변</span> 
        <span  style="font-size: 11px;" th:text="${#dates.format(answer.aDate,'yyyy-MM-dd')}"></span>
      </div>
         <div th:if="${#authentication.principal.username} == ${answer.memberId}" class="btn-group" style="display:flex">
          <a type="submit" class="nav-link cm_btn pull-right" id="replyModify" th:onclick="replyModify([[ ${answer.aNo} ]])">수정</a>
          <a type="button" class="nav-link cm_btn pull-right" th:href="@{/notice/replyDelete(aNo= ${ answer.aNo }, qNo= ${ answer.qNo })}" id="replydelete">삭제</a>
          </div>  
     </div>
     <br>
      <p class="bo_v_con" th:text="${answer.aContent}"></p>
    </div>
    
  </section>
    <!-- 1:1문의 답글수정 -->
    <script th:inline="javascript">
    	function replyModify(aNo) {
    		Swal.fire({
    			title: '답글 수정',
    			html:
			      ` 
			     <input type="text" class="cmt-content rounded" name="aContent" id="aContent" placeholder="내용을 입력하세요." style="resize: none;" required></input>
			      `,
				confirmButtonText:'수정',
				focusConfirm: false,
				showDenyButton: true,
				denyButtonText: '취소',
				preConfirm: () => {
					const aContent = Swal.getPopup().querySelector('#aContent').value
					
					if(!aContent) {
						Swal.showValidationMessage('수정할 댓글을 입력하세요.')
					}
					
					return { aNo: aNo, aContent: aContent}
				}
    		}).then((result) => {
    			if(result.isConfirmed) {
				   alert(JSON.stringify(result));
					console.log(aNo);
					var aNo = result.value.aNo;
    				var aContent = result.value.aContent;
        			var  param = { aContent: aContent, aNo: aNo } //객체
        		  alert(JSON.stringify(param));
           			$.ajax({
           				url: "/notice/replyModify",
           				type: "post",
           				async: false, //비동기 여부 
       					data: JSON.stringify(param), //데이터 보내는 방식
       					contentType: 'application/json; charset=utf-8',
       					success: function(data) {
							console.log(data);
       						if(data) {
       							Swal.fire({
       	   							icon: 'success',
       	       		    			text: '댓글이 수정되었습니다.',
       	       		    			confirmButtonText: '확인',
       	   						}).then((result) => {
       	   							location.reload();
       	   						})
       						} else {
       							Swal.fire({
       	   							icon: 'error',
       	       		    			text: '수정이 실패되었습니다.',
       	   						})
       						}
       					},
       					error: function(e) {
       						console.log('댓글수정 실패');
       						console.log(e);
       					}
           			});
				}
    		})
    	}
    </script>
    
    
</div>
</div>
</body>
</html> 
