<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>1:1문의 상세조회</title>
 	<div th:replace="/common/centerHeader.html :: center-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/qna.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>     
  
  <body id="body-pd" class='snippet-body ' style='min-height: 130vh;' >
  
  <div th:replace="/common/centerHeader.html :: center-body"></div>
  <div class="container mt-5">
<div class="d-flex justify-content-center row">
<div class="col-md-10">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">1:1문의</h2>
 </div>

<div class="notice rounded">
  
  <div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <span class="bd_title" style="font-size: 15px;">2022년 4월 15일 헬스터치 런칭</span>
    </div>
    <div class="justify-content-md-center">
      <span class="mr-1"><i class='bx bx-user'></i>센터</span> 
      <span class="mr-1"><i class='bx bx-time-five' ></i> 22.04.15</span>
      <span class="mr-1">이용문의</span>　
    </div>
  </div>
  <hr id="line">
    <div id="bo_v_con1" style="font-size: 12px;">
      헬스장 운동복은 제공안하나요?
    </div>
  <hr id="line">

  <section id="comment" >
    <div id="comment1">
      <textarea class="cmt-content rounded" name="content" placeholder="내용을 입력하세요." style="resize: none;" required></textarea>
      <button type="submit" class="btn_cmt btn-outline-secondary rounded" style="font-size: 15px;">등록</button>
    </div>
     <div class="comment mt-1 text-justify float-left rounded"> 
       <span style="font-size: 15px;" >${member}</span> <span style="font-size: 15px;" >님의 답변</span> 
       <div class="btn-group">
          <button type="button" class="nav-link cm_btn pull-right " value="수정">수정</button>
          <button type="button" class="nav-link cm_btn pull-right " value="삭제" data-bs-toggle="modal" data-bs-target="#qna_QDelete">삭제</button>
          <div class="modal fade" id="qna_QDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">게시물 삭제</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  게시물을 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">취소</button>
                  <button type="button" class="btn btn-outline-secondary">삭제</button>
                </div>
              </div>
            </div>
          </div>
          </div>
       <br>
       <span style="font-size: 12px;">22.04.15</span> <br>
      <p class="bo_v_con" >
        고객님께서 문의하신 헬스장 이용문의에 대하여 아래와 같이 답변을 드립니다.
        00센터에서는 운동복은 지급하지 않습니다.
        운동복 구매는 결제항목에서 확인가능합니다^^
        항상 최선을 다하는 oo센터가 되겠습니다. 감사합니다.
        </p>
    </div>
    
      <div style="display:-webkit-box ">
      <button type="button" class="list_btn btn btn-outline-secondary">목록</button>
      <div sec:authorize="hasAnyRole('ROLE_CENTER', 'ROLE_TRAINER')" class=" regist-btn pull-right" style="padding-right: 7px; margin-left: 550px;" >

        <button type="button" class="btn btn-outline-secondary " value="수정">수정</button>
        <button type="button" class="btn btn-outline-secondary " value="삭제" data-bs-toggle="modal" data-bs-target="#qna_ADelete">삭제</button>
        <div class="modal fade" id="qna_ADelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">게시물 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                게시물을 삭제하시겠습니까?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-outline-secondary">삭제</button>
              </div>
            </div>
          </div>
        </div>
        </div>

    </div>
  </section>
  </div>

</div>

    <!--Container Main end-->
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>
</html> 
