<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>1:1문의 수정</title>
 	<div th:replace="/common/centerHeader.html :: center-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>     
  
  <body id="body-pd" class='snippet-body '>
  
  <div th:replace="/common/centerHeader.html :: center-body"></div>
  
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">1:1문의</h2>
 </div>

 <div class="notice rounded">
  <div class="regist">
    <form class="needs-validation" validate>
    <div id="regist-title">
      <label for="firstName" class="form-label" style="font-size: 15px;" required>제목</label>
      <div style="display: flex;">
        <input type="text" class="form-control" id="content1" name="content" placeholder="내용을 입력하세요." style="height: 35px;" required>
        <select class="form-select" aria-label="Default select example" required>
          <option selected>문의</option>
          <option value="1">이용문의</option>
          <option value="2">가격문의</option>
          <option value="3">건의사항</option>
        </select>
      </div>
    </div>
    <div class="contentwritebox">
      <label for="firstName" class="form-label"><strong>내용</strong></label>
     <textarea class="regist-content form-control" type="text" placeholder="내용을 입력하세요."required> </textarea>
  </div>
  <button type="submit" class="btn btn-outline-secondary ">등록</button>
  <button type="button" class="btn btn-outline-secondary ">취소</button>
  </div>
</div>
</div>
</div>

</div>

</body>
</html> 