<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'> 
    <title>1:1문의 등록</title>
 	<div th:replace="/common/memberHeader.html :: member-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>     
    
  <body id="body-pd" class='snippet-body ' >
     
  <div th:replace="/common/memberHeader.html :: member-body"></div>
   
<div class="d-flex justify-content-center row">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">1:1문의</h2>
 </div>
   <!-- 1:1문의 수정페이지 -->
<div class="notice rounded">
  <div class="regist">
   <form th:action="@{/notice/qnamodify}" class="needs-validation" method="post" validate>
     <input type="hidden" name="qNo" th:value="${qna.qNo}">
    <div id="regist-title">
      <label for="firstName" class="form-label" style="font-size: 15px;" >제목</label>
      <div style="display: flex;">
        <input type="text" class="form-control" id="qTitle" name="qTitle" th:value="${qna.qTitle}" required>
		  <input type="hidden" name="categoryNo" th:value="${ qna.categoryNo }"><br>
          <input type="text" name="categoryKind" th:value="${ qna.questionCategory.categoryKind }" readonly><br>           
      </div>
    </div>
    <div class="contentwritebox">
      <label for="firstName" class="form-label"><strong>내용</strong></label>
   	  <textarea class="regist-content form-control" type="text" name="qContent" id="qContent" th:text="${qna.qContent}" required> </textarea> 
  </div>
  <button type="submit" class="btn btn-outline-secondary" id="qnamodify">등록</button>
  <button type="button" class="btn btn-outline-secondary " th:onclick="'location.href=\''+@{/notice/qna} + '\''">취소</button>
      <script>
			$().ready(function () {
            $("#qnamodify").click(function () {
                Swal.fire({
					  title: '문의글 수정',
					  text: "문의글이 수정되었습다.",
				      imageUrl: '../images/successicon.png',
					  imageWidth: 100,
				      imageHeight: 100,
				      imageAlt: 'Custom image',
					  confirmButtonColor: '#1b1b55',
                });
            });
        });
      </script>
    </form>
  </div>
</div>
</body>
</html> 