<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>1:1문의(목록없음)</title>
 	<div th:replace="/common/centerHeader.html :: center-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/qna.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>     
  
  <body id="body-pd" class='snippet-body ' style='min-height: 50vh;' >
  
  <div th:replace="/common/centerHeader.html :: center-body"></div>
  <div class="container mt-5">
<div class="d-flex justify-content-center row">
<div class="col-md-10">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">1:1문의</h2>
 </div>

 <table class="table">
  <thead>
  <hr id="line">
  </thead>
  <tbody class="table-body">
  <h3 class="text-center">작성된 게시물이 없습니다.</h3>
  </tbody>
  </table>
  <button type="button" class="btn btn-outline-secondary">글작성</button>
  </div>
  </div>
  </div>
  </div>
  </div>
    <!--Container Main end-->
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>
</html> 