<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>1:1문의 수정</title>
 	<div th:replace="/common/memberHeader.html :: member-header"></div> 
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>      
  
  <body id="body-pd" class='snippet-body ' >
   
  <div th:replace="/common/memberHeader.html :: member-body"></div>
   
<div class="d-flex justify-content-center row">
<div class="rounded">
<div class="table-responsive table-borderless">
 <div class="titlename rounded">
    <h2 class="titlename1">1:1문의</h2>
 </div>
    <!-- 1:1문의 등록페이지 -->
<div class="notice rounded">
  <div class="regist">
   <form class="needs-validation" th:action="@{/notice/qnaregist}"method="post"validate>
    <div id="regist-title">
       <label for="firstName" class="form-label"><strong>제목</strong></label>
      <div style="display: flex;">
         <input type="text" class="form-control" id="qTitle" name="qTitle"  placeholder="제목을 입력하세요." required>
        <select  name="categoryNo" id="categoryNo" class="form-select" style="height: 33px; border: 0.5px solid #1b1b55;" required></select>
      </div>
    </div>
    <div class="contentwritebox">
      <label for="firstName" class="form-label"><strong>내용</strong></label>
   	  <textarea name="qContent" id="qContent" class="regist-content form-control" type="text" required> </textarea> 
  </div>
  <button type="submit" class="btn btn-outline-secondary" id="qnaregist">등록</button>
  <button type="button" class="btn btn-outline-secondary " th:onclick="'location.href=\''+@{/notice/qna} + '\''">취소</button>
      <script>
			$().ready(function () {
            $("#qnaregist").click(function () {
                Swal.fire({
					  title: '문의글 등록', 
					  text: "문의글이 등록되었습다.",
				      imageUrl: '../images/successicon.png',
					  imageWidth: 100,
				      imageHeight: 100, 
				      imageAlt: 'Custom image',
					  confirmButtonColor: '#1b1b55',
                });
            }); 
        });
      </script>
      
      <script>
		$(function(){
			$.ajax({
				url : "/notice/categoryNo",
				success : function(data){
					const $categoryNo = $("#categoryNo");
					
					for(let index in data) {
						$categoryNo.append($("<option>").val(data[index].categoryNo).text(data[index].categoryKind));
					}
				},
				error : function(xhr) {
					console.log(xhr);
				}
			});
		});
	
	</script>
      
    </form>
  </div>
</div>
</body>
</html> 