<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>healthtouch</title>
<link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
<div th:replace="/common/memberHeader.html :: member-header"></div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body id="body-pd">
	<div th:replace="/common/memberHeader.html :: member-body"></div>
	
</body>
</html>