<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
	<title>트레이너 정보</title>
	<link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <!-- 트레이너 정보 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/trainer/trainer-info.css}"/>
    <!-- replace head 부분 -->
	<div th:replace="/common/trnHeader.html :: trn-header"></div>
    <!-- 제이쿼리 추가 -->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>


<body>

    <!-- 헤더 body 추가 -->
	<div th:replace="/common/trnHeader.html :: trn-body"></div>


    <!-- 본문 시작 -->
    <body id="body-pd">


    <!--Container Main start-->
    <div class="height-100 bg-light">

        <!-- main page -->
        <div class="main-box">
            <div class="admin-page">
        
            <!--내정보 수정칸-->
               
                <div class="my-info">
        		<form name="modifyForm" id="modifyForm" method="post" th:action="@{/trainer/trainer-info}">
        
                        <!--이름-->
                        <label id="la-userName"><b>이름</b></label>
                        <span class="input_area"><input type="text" name="name" id="userName" th:value="${#authentication.principal.name}"></span>
                    
                        <!--연락처-->
                        <label id="phn"><b>연락처</b></label>
                        <span class="input_area"><input type="text" maxlength="11" name="phone" id="phoneNum" th:value="${#authentication.principal.contact}"></span>
                
                        <!--주소-->
                        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        
                        <label id="addr"><b>주소</b></label><br>
                        <!--기본주소-->
                        <span class="input_area"><input type="text" th:value="${#authentication.principal.address}" id="basicAddr" name="address1" class="postcodify_postcode5" readonly></span>
                        <button id="postcodify_search_button" type="button" onclick="openZipSearch()" >검색</button>
                    
                        <!--도로명 주소-->
                       <!--  <span class="input_area"><input type="text" placeholder="도로명 주소" name="address1" id="addr1" class="postcodify_address" readonly></span>
                     -->
                        <!--상세 주소-->
                       <!--  <span class="input_area"><input type="text" placeholder="상세 주소" name="address2" id="addr2" class="postcodify_details"></span>
                         -->

                        <!--생년월일-->
                        <label id="la-birth"><b>생년월일</b></label>
                        <span class="input_area"><input type="date" name="birthday" id="memberBirth" th:value="${#dates.format(#authentication.principal.birthday, 'yyyy-MM-dd')}"></span>
                    
                    
                        <!--경력-->
                        <h4></h4>
                        <label id="la-career"><b>경력(년)</b></label>
                        <span class="input_area"><input type="number" name="career" id="memberCareer"  th:value="${#authentication.principal.address}"></span>
                    				
                    				
                    																					<!--  <td th:text="|${trainer.career}년|"></td> -->


                        <!-- 정보 수정버튼  -->   
                        <span class="infoModify">
                        
                        	<button type="button" id="info-Modify1" onclick="modifyPwd()" >비밀번호 변경</button>
                            <button type="button" id="info-Modify" onclick="startModify()">수정</button>
                    
                        </span>
                       


					</form>




        
                        <!--다음 도로명 우편번호 검색-->
                        <script>
                        function openZipSearch() {
                            new daum.Postcode({
                                oncomplete: function(data) {
                                    $('[name=zipCode]').val(data.zonecode); // 우편번호 (5자리)
                                    $('[name=address1]').val(data.address);
                                    $('[name=address2]').val(data.buildingName);
                                }
                            }).open();
                        }
                        </script>
        
        
        
        
                      	<script>
                      	
                      	var isModifying = false;
                		var isUsable = true;
                		
                		function disabledRadio() {
                			return false;
                		}
                		
                		function changeContact() {
                			isUsable = false;
                		}
                		
                		function startModify() {
                			if(!isModifying) {
                				$('#modifyForm input[name=userName]').prop('readonly', false);
                				$('#modifyAddress').show();
                				$('#modifyContact').show();
                				$('#modifyForm input[type=date]').prop('readonly', false);
                				document.getElementById('info-Modify').innerHTML = "수정 완료";
                				isModifying = true;
                				
                			} else {
                				
                				var id = $('#memberId').val();
                				var name = $('#userName').val();
                				var contact = $('#phoneNum').val();
                				var address = $('#basicAddr').val();
                				var birthday = $('#memberBirth').val();
                				var career = $('#career').val();
                				
                				var param = { id : id, name : name, contact : contact, address : address, birthday : birthday, career : career };
                				
                				if(isUsable) {
                					$.ajax({
                						url: "/trainer/trainer-info",
                						type: "post",
                						async: false,
                						data: JSON.stringify(param),
                						contentType: 'application/json; charset=utf-8',
                						success: function(data) {
                							location.reload();
                						},
                						error: function(e) {
                							console.log('??');
                							console.log(e);
                						}
                					})
                				} else {
                					Swal.fire({
                	    				icon: 'warning',
                	    				text: '연락처를 인증해 주세요.',
                	    				confirmButtonText: '확인',
                		    		}).then((result) => {
                		    			location.reload();
                		    		})
                				}
                				
                				$('#modifyForm input[type=text]').prop('readonly', true);
                				$('#modifyAddress').hide();
                				$('#modifyContact').hide();
                				$('#modifyForm input[type=date]').prop('readonly', true);
                				document.getElementById('modifyBtn').innerHTML = "수정";
                			}
                	
                		} 
                		
                		
                		function startModifyContact() {
                			$('#modifyForm input[name=contact]').prop('readonly', false);
                			document.getElementById('phoneAuthBtn').innerHTML = "연락처 인증";
                			$('#modifyContact2').show();
                			$('#brformodify').show();
                			
                			$('#phoneAuthBtn').click(function(){
                	    		var phonePattern = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
                	    		const phoneNumber = $("#modifyForm input[name=contact]");
                	    		
                	    		if(phonePattern.test(phoneNumber.val())) {
                	    			// 유효성 검사 통과 
                	    			// 중복 확인 
                	    			$.ajax({
                	    				url: "/member/isExistContact",
                	   					type: "post",
                	       				data: { phoneNumber : phoneNumber.val() },
                	       				success: function(cnt) {
                	       					if(cnt > 0) {
                	       						// 중복 확인 탈락 
                	       						Swal.fire({
                	       		    				icon: 'warning',
                	       		    				text: '이미 사용된 연락처입니다.',
                	       		    			});
                	       						$('#contact').focus();
                	       					} else {
                	       						// 중복 확인 통과 
                	       						Swal.fire({
                	       							icon: 'success',
                		        		    		text: '인증 번호가 전송되었습니다.',
                	       						});
                	       						
                	       						phoneNumber.attr('readonly', true);
                	       						$("#inputAuthCode").attr('readonly', false);
                	       						
                	       						$.ajax({
                	       			    			type: "GET",
                	       			    			url: "/member/checkContact",
                	       			    			data: { phoneNumber : phoneNumber.val() },
                	       			    			success: function(res) {
                	       			    				$('#authCodeCheckBtn').click(function(){
                	       			    					if($.trim(res) == $('#inputAuthCode').val()){
                	       			    						Swal.fire({
                	       			    							icon: 'success',
                	       			        		    			text: '휴대폰 인증이 정상적으로 완료되었습니다.',
                	       			    						})
                	       			    						$('#modifyContact2').hide();
                	       			    						$('#brformodify').hide();
                	       			    						$("#inputAuthCode").attr('readonly', true);
                	       			    						phoneNumber.attr('readonly', true);
                	       			    						isUsable = true;
                	       			    					} else {
                	       			    						Swal.fire({
                	       			    							icon: 'error',
                	       			    							text: '휴대폰 인증에 실패했습니다. 다시 시도해 주세요.',
                	       			    						})
                	       			    						phoneNumber.attr('readonly', false);
                	       			    						$('#modifyContact2').hide();
                	       			    						$('#brformodify').hide();
                	       										phoneNumber.focus();
                	       										isUsable = false;
                	       			    					}
                	       			    				})
                	       			    			}
                	       			    		})
                	       					}
                	       				},
                	       				error: function(e) {
                	       					console.log(e);
                	       				}
                	    			})
                	    		} else {
                	    			// 유효성 검사 탈락 
                	    			Swal.fire({
                						icon: 'error',
                						text: '유효하지 않은 연락처입니다. 다시 입력해 주세요.',
                					})
                	    		}
                	    	});
                		}
                		
                      	</script>
                      	
                      	
                      	
                      	
                      	
        
                            <script>
					    	// 비밀번호 수정 
					    	function modifyPwd() {
					    		Swal.fire({
					    			title: '비밀번호 변경',
					    			html:
								        `<input type="password" class="swal2-input" name="checkPwd" id="checkPwd" placeholder="현재 비밀번호" required>
								        <input type="password" class="swal2-input" name="pwd" id="memberPwd" placeholder="변경할 비밀번호" required>
								        <input type="password" class="swal2-input" name="pwd2" id="memberPwd2" placeholder="변경할 비밀번호 확인" required>`,
									confirmButtonText: '변경',
									focusConfirm: false,
									showDenyButton: true,
									denyButtonText: '취소',
									preConfirm: () => {
										const checkPwd = Swal.getPopup().querySelector('#checkPwd').value
										const pwd = Swal.getPopup().querySelector('#memberPwd').value
										const pwd2 = Swal.getPopup().querySelector('#memberPwd2').value
										
										var pwdRegExp = /^[a-zA-Z0-9]{8,16}$/;
										
										if(!checkPwd) {
											Swal.showValidationMessage('현재 비밀번호를 입력하세요.')
										}
										if(!pwd) {
											Swal.showValidationMessage('변경할 비밀번호를 입력하세요.')
										}
										if(!pwd2) {
											Swal.showValidationMessage('변경할 비밀번호 확인을 입력하세요.')
										}
										if(!pwdRegExp.test(pwd)) {
											Swal.showValidationMessage('8~16자리의 영문 대소문자, 숫자를 조합하여 설정해 주세요.')
										}
										if(pwd != pwd2) {
											Swal.showValidationMessage('비밀번호 확인이 올바르지 않습니다.')
										}
										
										return { checkPwd: checkPwd, pwd: pwd, pwd2: pwd2 }
									}
					    		}).then((result) => {
					    			if(result.isConfirmed) {
					    				var checkPwd = result.value.checkPwd;
					        			var pwd = result.value.pwd;
					        			var pwd2 = result.value.pwd2;
					        			
					        			var param = { checkPwd: checkPwd, pwd: pwd, pwd2: pwd }
					        			
					           			$.ajax({
					           				url: "/member/modifyPwd",
					           				type: "post",
					           				async: false,
					       					data: JSON.stringify(param),
					       					contentType: 'application/json; charset=utf-8',
					       					success: function(data) {
					       						if(data) {
					       							Swal.fire({
					       	   							icon: 'success',
					       	       		    			text: '비밀번호 변경이 완료되었습니다. 다시 로그인해 주세요.',
					       	       		    			confirmButtonText: '확인',
					       	   						}).then((result) => {
					       	   							location.href = "/member/logout";
					       	   						})
					       						} else {
					       							Swal.fire({
					       	   							icon: 'error',
					       	       		    			text: '비밀번호 변경에 실패했습니다. 비밀번호를 다시 확인해 주세요.',
					       	   						})
					       						}
					       					},
					       					error: function(e) {
					       						console.log('비밀번호 수정 실패');
					       						console.log(e);
					       					}
					           			});
									}
					    		})
					    	}
					    </script>
					        
        
        
                    </div>
            
        
        






                  <br>
              </div>

            </div>

          </div>



</body>
</html>