<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
                    
<head>     
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>락커이용현황</title>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
	<div th:replace="/common/memberHeader.html :: member-header"></div>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<!-- css연결 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/product/locker-site.css}"/>

    </head>
         
         
         
         
    <body id="body-pd">
    
<div th:replace="/common/memberHeader.html :: member-body"></div>
        
    <!--Container Main start-->
    <div class="height-100 main_size">
            <div class="container" >
                <h2 class="mb-3">락커 등록
                    <div style="float: right;">
                        <button type="button" class="btn btn-primary">등록</button>
                    </div>
                </h2>
                
                
                <div class="row" th:each="locker : ${ lockerList }" >
                
                
                  <div class="col-2 ex p-3 m-4" >
                    <div class="p-1 text-end"  >   
                        <div class="text-start fs-5 fw-bolder" style="float: left; width:50%;" th:text="${ locker.locNum }" ></div>
                        <div id="status_off" style="float: left; width:50%;" th:text="${ locker.locStatus }" ></div>
                        <div th:text="${ locker.member.name }"></div>
                        <div th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|" ></div> 
                    </div>    
                  </div>
           
                  
            </div>
                      
    </div>



</body>
</html> 