<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 리뷰</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/product/review.css}"/>
    <!-- replace head 부분 -->
    <div th:replace="/common/centerHeader.html :: center-header"></div>
    <!-- 제이쿼리 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- 헤더 body 추가 -->
	<div th:replace="/common/centerHeader.html :: center-body"></div>
    <!-- 최대 크기 768 로 맞춰서 / 타이틀 <2> / 기본폰트 15px (표 상단은 bold 처리) / 참고문구는 12px -->
    <div class="height-100 width-768">
        <div class="title-box">
            <h2>내가 등록한 리뷰</h2>
        </div>
            <div class="trn-info-1">
                담당 트레이너
                <input class="trn-info" type="text" readonly value="김머슬">
            </div>
            <table>
                <tr>
                    <td class="title">
                        회원님과 함께한 트레이너는 어떠셨나요?
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>평점</label>
                        <input type="text" readonly value="★★★★★">
                    </td>
                </tr>
                <tr>
                    <td class="review-contents">
                        <pre>
                            dkdkdkdkdk
                            dkdkdkdkdkd
                            dkdkdkkdkdkd
                            dkdkdkdkdkdkdkdkk
                            dkdkdkdkdk
                        </pre>
                    </td>
                </tr>
            </table>
            <div class="list-back">
                <button>돌아가기</button>
            </div>
        </div>
</body>
</html>