<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>락커조회</title>
    
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>  
    <link href="@{/css/header.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/center/locker/locker.css}"/>
	<div th:replace="/common/centerHeader.html :: center-header"></div>
	
	<!--  검색어 자동완성에 필요한 라이브러리 -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	
	
	<style>

	.modal {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  width: 700px;
	  display: block; padding-right: 17px;
	}
	
	.modal-backdrop{height:100%; width:100%;}


	</style>

	
	
  
</head>
<body id="body-pd">
	<div th:replace="/common/centerHeader.html :: center-body"></div>
	<!--Container Main start-->
    <div class="height-100 main_size">
	  <div class="container" style="margin-top:80px;">
	    <h2 class="mb-3">락커 관리
	
	      <span style="float: right;">
	      	<!-- Button trigger modal -->
	        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#moveModal">이동</button>
	        <!-- Button trigger modal -->
	        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registModal">등록</button>
	      </span>
	    </h2>
	
		
		
		
		<!-- 이동 Modal -->
		<div class="modal fade" id="moveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">락커 이동</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		      	<div class="row" style="justify-content: center;">
					<div class="col-sm-5">
						<select class="form-select" aria-label="Default select example">
							<option selected disabled>기존 락커 번호</option>
							<th:block th:each="num : ${ #numbers.sequence(1,20) }">
	                  		<option th:text="${ num }"></option>
	                </th:block>
						</select>
						
					</div>
					<div class="col-sm-1" style="display: table-cell; vertical-align: middle;">
						<i class='bx bx-right-arrow-alt'></i>
					</div>
					<div class="col-sm-5">
						<select class="form-select" aria-label="Default select example">
							<option selected disabled>변경 락커 번호</option>
							<th:block th:each="num : ${ #numbers.sequence(1,20) }">
			                  <option th:text="${ num }"></option>
			                </th:block>
						</select>
					</div>	
				</div>
				<br>
				<div class="row" style="justify-content: center;" >
					<div class="mb-1 col-7">
		              <label for="mId" class="form-label">아이디</label>
		              <input type="text" class="form-control" name="mId" id="moveId" disabled></input>
		            </div>
		            <div class="mb-1 col-7">
		              <label for="mName" class="form-label">이름</label>
		              <input type="text" class="form-control" name="mName" id="movaName" disabled></input>
		            </div>
		            <div class="mb-1 col-7">
		              <label for="lDate" class="form-label">이용기간</label>
		              <input type="text" class="form-control" name="lDate" id="lockerDate" disabled></input>
		            </div>
				</div>				
			  </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
		        <button type="button" class="btn btn-primary">이동</button>
		      </div>
		    </div>
		  </div>
		</div>
	    <!-- 등록 Modal -->
	    <div class="modal fade" id="registModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <h5 class="modal-title" id="exampleModalLabel">락커 이용 등록</h5>
	            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	          </div>
	          <div class="modal-body">
	            <div class="mb-3">
	              <select id="selectBox" class="form-select" aria-label="Default select example">
	                <option selected disabled>락커 번호를 선택하세요</option>
	                <th:block th:each="num : ${ #numbers.sequence(1,20) }">
	                  <option th:text="${ num }"></option>
	                </th:block>
	              </select>
	
	            </div>
	            <div class="mb-3">
	              <label for="autoComplete" class="form-label">아이디</label>
	              <!-- <input type="text" name="searchKeyword" id="autoComplete" class="form-control input-text" value="" placeholder="이름을 입력해 주세요"> -->
	              <input type="text" class="form-control input-text" name="id" id="memberId" placeholder="아이디를 입력해 주세요">
	            </div>
	
	            <div class="mb-3">
	              <label for="startDate" class="form-label">이용시작일</label>
	              <input type="date" class="form-control" name="start" id="startDate"></input>
	            </div>
	            <div class="mb-3">
	              <label for="endDate" class="form-label">이용종료일</label>
	              <input type="date" class="form-control" name="end" id="endDate"></input>
	            </div>
	          </div>
	
	          <div class="modal-footer">
	            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	            <button type="button" class="btn btn-primary" onclick="registLocker();">등록</button>
	          </div>
	        </div>
	      </div>
	    </div> 
	
	
	    <div class="locker" style="margin-left:50px">
	      <div class="row">
	        <!--1번 라커 사용중 -->
	        <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 1].isEmpty() }">
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">1</div>
	            <div class="status_on">사용중</div>
	            <div th:each="locker : ${ lockerList.?[locNum == 1] }"><span th:text="${locker.member.name}"></span></div>
	            <div th:each="locker : ${ lockerList.?[locNum == 1] }"><span
	                th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	          </div>
	        </div>
	
	        <!-- 1번 라커 미사용 -->
	        <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 1].isEmpty() }">
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">1</div>
	            <div class="status_off">사용가능</div>
	          </div>
	        </div>
	
	        <!-- 2번 라커 사용중 -->
	        <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 2].isEmpty() }">
	
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">2</div>
	            <div class="status_on">사용중</div>
	            <div th:each="locker : ${ lockerList.?[locNum == 2] }"><span th:text="${locker.member.name}"></span></div>
	            <div th:each="locker : ${ lockerList.?[locNum == 2] }"><span
	                th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	          </div>
	        </div>
	
	        <!-- 2번 라커 미사용 -->
	        <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 2].isEmpty() }">
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">2</div>
	            <div class="status_off">사용가능</div>
	          </div>
	        </div>
	
	        <!-- 3번 라커 사용중 -->
	        <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 3].isEmpty() }">
	
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">3</div>
	            <div class="status_on">사용중</div>
	            <div th:each="locker : ${ lockerList.?[locNum == 3] }"><span th:text="${locker.member.name}"></span></div>
	            <div th:each="locker : ${ lockerList.?[locNum == 3] }"><span
	                th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	          </div>
	        </div>
	
	        <!-- 3번 라커 미사용 -->
	        <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 3].isEmpty() }">
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">3</div>
	            <div class="status_off">사용가능</div>
	          </div>
	        </div>
	
	        <!-- 4번 라커 사용중 -->
	        <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 4].isEmpty() }">
	
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">4</div>
	            <div class="status_on">사용중</div>
	            <div th:each="locker : ${ lockerList.?[locNum == 4] }"><span th:text="${locker.member.name}"></span></div>
	            <div th:each="locker : ${ lockerList.?[locNum == 4] }"><span
	                th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	          </div>
	        </div>
	
	        <!-- 4번 라커 미사용 -->
	        <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 4].isEmpty() }">
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">4</div>
	            <div class="status_off">사용가능</div>
	          </div>
	        </div>
	
	        <!--5번 라커 사용중 -->
	        <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 5].isEmpty() }">
	
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">5</div>
	            <div class="status_on">사용중</div>
	            <div th:each="locker : ${ lockerList.?[locNum == 5] }"><span th:text="${locker.member.name}"></span></div>
	            <div th:each="locker : ${ lockerList.?[locNum == 5] }"><span
	                th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	          </div>
	        </div>
	
	        <!-- 5번 라커 미사용 -->
	        <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 5].isEmpty() }">
	          <div class="p-1 text-end">
	            <div class="text-start fs-5 fw-bolder lockNum">5</div>
	            <div class="status_off">사용가능</div>
	          </div>
	        </div>
	        </div>
	

	        <div class="row">
	          <!-- 6번 라커 사용중 -->
	          <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 6].isEmpty() }">
	
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">6</div>
	              <div class="status_on">사용중</div>
	              <div th:each="locker : ${ lockerList.?[locNum == 6] }"><span th:text="${locker.member.name}"></span></div>
	              <div th:each="locker : ${ lockerList.?[locNum == 6] }"><span
	                  th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	            </div>
	          </div>
	
	          <!-- 6번 라커 미사용 -->
	          <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 6].isEmpty() }">
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">6</div>
	              <div class="status_off">사용가능</div>
	            </div>
	          </div>
	
	          <!-- 7번 라커 사용중 -->
	          <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 7].isEmpty() }">
	
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">7</div>
	              <div class="status_on">사용중</div>
	              <div th:each="locker : ${ lockerList.?[locNum == 7] }"><span th:text="${locker.member.name}"></span></div>
	              <div th:each="locker : ${ lockerList.?[locNum == 7] }"><span
	                  th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	            </div>
	          </div>
	
	          <!-- 7번 라커 미사용 -->
	          <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 7].isEmpty() }">
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">7</div>
	              <div class="status_off">사용가능</div>
	            </div>
	          </div>
	
	          <!-- 8번 라커 사용중 -->
	          <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 8].isEmpty() }">
	
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">8</div>
	              <div class="status_on">사용중</div>
	              <div th:each="locker : ${ lockerList.?[locNum == 8] }"><span th:text="${locker.member.name}"></span></div>
	              <div th:each="locker : ${ lockerList.?[locNum == 8] }"><span
	                  th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	            </div>
	          </div>
	
	          <!-- 8번 라커 미사용 -->
	          <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 8].isEmpty() }">
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">8</div>
	              <div class="status_off">사용가능</div>
	            </div>
	          </div>
	
	          <!-- 9번 라커 사용중 -->
	          <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 9].isEmpty() }">
	
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">9</div>
	              <div class="status_on">사용중</div>
	              <div th:each="locker : ${ lockerList.?[locNum == 9] }"><span th:text="${locker.member.name}"></span></div>
	              <div th:each="locker : ${ lockerList.?[locNum == 9] }"><span
	                  th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	            </div>
	          </div>
	
	          <!-- 9번 라커 미사용 -->
	          <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 9].isEmpty() }">
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">9</div>
	              <div class="status_off">사용가능</div>
	            </div>
	          </div>
	
	          <!-- 10번 라커 사용중 -->
	          <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 10].isEmpty() }">
	
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">10</div>
	              <div class="status_on">사용중</div>
	              <div th:each="locker : ${ lockerList.?[locNum == 10] }"><span th:text="${locker.member.name}"></span>
	              </div>
	              <div th:each="locker : ${ lockerList.?[locNum == 10] }"><span
	                  th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	            </div>
	          </div>
	
	          <!-- 10번 라커 미사용 -->
	          <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 10].isEmpty() }">
	            <div class="p-1 text-end">
	              <div class="text-start fs-5 fw-bolder lockNum">10</div>
	              <div class="status_off">사용가능</div>
	            </div>
	          </div>
	          </div>
	
	          <div class="row">
	            <!-- 11번 라커 사용중 -->
	            <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 11].isEmpty() }">
	
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">11</div>
	                <div class="status_on">사용중</div>
	                <div th:each="locker : ${ lockerList.?[locNum == 11] }"><span th:text="${locker.member.name}"></span>
	                </div>
	                <div th:each="locker : ${ lockerList.?[locNum == 11] }"><span
	                    th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	              </div>
	            </div>
	
	            <!-- 11번 라커 미사용 -->
	            <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 11].isEmpty() }">
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">11</div>
	                <div class="status_off">사용가능</div>
	              </div>
	            </div>
	
	            <!-- 12번 라커 사용중 -->
	            <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 12].isEmpty() }">
	
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">12</div>
	                <div class="status_on">사용중</div>
	                <div th:each="locker : ${ lockerList.?[locNum == 12] }"><span th:text="${locker.member.name}"></span>
	                </div>
	                <div th:each="locker : ${ lockerList.?[locNum == 12] }"><span
	                    th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	              </div>
	            </div>
	
	            <!-- 12번 라커 미사용 -->
	            <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 12].isEmpty() }">
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">12</div>
	                <div class="status_off">사용가능</div>
	              </div>
	            </div>
	
	            <!-- 13번 라커 사용중 -->
	            <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 13].isEmpty() }">
	
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">13</div>
	                <div class="status_on">사용중</div>
	                <div th:each="locker : ${ lockerList.?[locNum == 13] }"><span th:text="${locker.member.name}"></span>
	                </div>
	                <div th:each="locker : ${ lockerList.?[locNum == 13] }"><span
	                    th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	              </div>
	            </div>
	
	            <!-- 13번 라커 미사용 -->
	            <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 13].isEmpty() }">
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">13</div>
	                <div class="status_off">사용가능</div>
	              </div>
	            </div>
	
	            <!-- 14번 라커 사용중 -->
	            <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 14].isEmpty() }">
	
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">14</div>
	                <div class="status_on">사용중</div>
	                <div th:each="locker : ${ lockerList.?[locNum == 14] }"><span th:text="${locker.member.name}"></span>
	                </div>
	                <div th:each="locker : ${ lockerList.?[locNum == 14] }"><span
	                    th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	              </div>
	            </div>
	
	            <!-- 14번 라커 미사용 -->
	            <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 14].isEmpty() }">
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">14</div>
	                <div class="status_off">사용가능</div>
	              </div>
	            </div>
	
	            <!-- 15번 라커 사용중 -->
	            <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 15].isEmpty() }">
	
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">15</div>
	                <div class="status_on">사용중</div>
	                <div th:each="locker : ${ lockerList.?[locNum == 15] }"><span th:text="${locker.member.name}"></span>
	                </div>
	                <div th:each="locker : ${ lockerList.?[locNum == 15] }"><span
	                    th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	              </div>
	            </div>
	
	            <!-- 15번 라커 미사용 -->
	            <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 15].isEmpty() }">
	              <div class="p-1 text-end">
	                <div class="text-start fs-5 fw-bolder lockNum">15</div>
	                <div class="status_off">사용가능</div>
	              </div>
	            </div>
	            </div>
	
	
	            <div class="row">
	              <!-- 16번 라커 사용중 -->
	              <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 16].isEmpty() }">
	
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">16</div>
	                  <div class="status_on">사용중</div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 16] }"><span th:text="${locker.member.name}"></span>
	                  </div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 16] }"><span
	                      th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	                </div>
	              </div>
	
	              <!-- 16번 라커 미사용 -->
	              <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 16].isEmpty() }">
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">16</div>
	                  <div class="status_off">사용가능</div>
	                </div>
	              </div>
	
	              <!-- 17번 라커 사용중 -->
	              <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 17].isEmpty() }">
	
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">17</div>
	                  <div class="status_on">사용중</div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 17] }"><span th:text="${locker.member.name}"></span>
	                  </div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 17] }"><span
	                      th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	                </div>
	              </div>
	
	              <!-- 17번 라커 미사용 -->
	              <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 17].isEmpty() }">
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">17</div>
	                  <div class="status_off">사용가능</div>
	                </div>
	              </div>
	
	              <!-- 18번 라커 사용중 -->
	              <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 18].isEmpty() }">
	
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">18</div>
	                  <div class="status_on">사용중</div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 18] }"><span th:text="${locker.member.name}"></span>
	                  </div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 18] }"><span
	                      th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	                </div>
	              </div>
	
	              <!-- 18번 라커 미사용 -->
	              <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 18].isEmpty() }">
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">18</div>
	                  <div class="status_off">사용가능</div>
	                </div>
	              </div>
	
	              <!-- 19번 라커 사용중 -->
	              <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 19].isEmpty() }">
	
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">19</div>
	                  <div class="status_on">사용중</div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 19] }"><span th:text="${locker.member.name}"></span>
	                  </div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 19] }"><span
	                      th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	                </div>
	              </div>
	
	              <!-- 19번 라커 미사용 -->
	              <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 19].isEmpty() }">
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">19</div>
	                  <div class="status_off">사용가능</div>
	                </div>
	              </div>
	
	              <!-- 20번 라커 사용중 -->
	              <div class="col-2 ex p-3 m-3" th:if="${ not lockerList.?[locNum == 20].isEmpty() }">
	
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">20</div>
	                  <div class="status_on">사용중</div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 20] }"><span th:text="${locker.member.name}"></span>
	                  </div>
	                  <div th:each="locker : ${ lockerList.?[locNum == 20] }"><span
	                      th:text="|~${#dates.format(locker.order.endDate, 'yyyy-MM-dd')}까지|"></span></div>
	
	                </div>
	              </div>
	
	              <!-- 20번 라커 미사용 -->
	              <div class="col-2 ex p-3 m-3" th:unless="${ not lockerList.?[locNum == 20].isEmpty() }">
	                <div class="p-1 text-end">
	                  <div class="text-start fs-5 fw-bolder lockNum">20</div>
	                  <div class="status_off">사용가능</div>
	                </div>
	                </div>
	      </div>
	    
	    </div>
	  </div>
	</div>
	              
                
                
        <script>
        /* $('#searchName').autocomplete({
	       	 source : function(request, response) { //source: 입력시 보일 목록
	       	     $.ajax({
	       	           url : "/center/locker/regist"   
	       	         , type : "POST"
	       	         , dataType: "JSON"
	       	         , data : {value: request.term}	// 검색 키워드
	       	         , success : function(data){ 	// 성공
	       	             response(
	       	                 $.map(data.resultList, function(name) {
	       	                     return {
	       	                    	     label : "이름 "  	// 목록에 표시되는 값
	       	                           , value : name.MEMBER_NAME		// 선택 시 input창에 표시되는 값
	       	                          
	       	                     };
	       	                 })
	       	             );    //response
	       	         }
	       	         ,error : function(){ //실패
	       	             alert("오류가 발생했습니다.");
	       	         }
	       	     });
	       	 }
	       		,focus : function(event, ui) { // 방향키로 자동완성단어 선택 가능하게 만들어줌	
	       			return false;
	       		},
	       		minLength: 1,// 최소 글자수
	       		delay: 100	//autocomplete 딜레이 시간(ms),
	       		 , select : function(evt, ui) { 
	             	// 아이템 선택시 실행 ui.item 이 선택된 항목을 나타내는 객체, lavel/value/idx를 가짐
	       			console.log(ui.item.label);
	       			console.log(ui.item.idx); 
	       	 }
	       }); */
        
        
        function registLocker() {
        	
	    	const locNum = $("#selectBox option:selected").val();
        	const memberId = $("[name=id]").val();
        	const startDate = $("[name=start]").val();
        	const endDate = $("[name=end]").val();
        	
        	const obj =  { locNum : locNum, memberId : memberId, startDate : startDate, endDate : endDate};
        	console.log(obj);
        	
        	$.ajax({	
        		
				url: "/center/locker/regist",	
				type: "post",
				data: { locNum : locNum, id : memberId, startDate : startDate, endDate : endDate},
				success: function() {
					Swal.fire({
						icon: 'success',
						text: '락커 이용 등록이 완료되었습니다.',
						confirmButtonText: '확인',
					}).then((result) => {
						location.href="/center/locker/list";
					})
				},
				error: function(e) {
					console.log(e);
				}
			});
		}
	
        
        
        
        
	</script>   
                    
                
              
         

                 
</body>
</html>