<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>healthtouch</title>
<link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<div th:replace="/common/centerHeader.html :: center-header"></div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</head>
<body id="body-pd" class="snippet-body" style="min-height: 80vh">
	<div th:replace="/common/centerHeader.html :: center-body"></div>
	<div class="container mt-5">
		<div class="d-flex justify-content-center row">
			<div class="col-md-10">
				<br>
				<h4>기본 정보</h4>
				<br>
				<form th:object="${member}">
					<div class="form-group row">
		                <label class="col-sm-2 col-form-label">아이디</label>
		                <div class="col-sm-10">
		                	<input type="text" class="form-control" name="id" id="id" th:value="*{id}" required readonly>
		                </div>
		            </div>
		            <br>
					<div class="form-group row">
		                <label class="col-sm-2 col-form-label">이름</label>
		                <div class="col-sm-10">
		                	<input type="text" class="form-control" name="name" id="name" th:value="*{name}" required readonly>
		                </div>
		            </div>
		            <br>
		            <div class="form-group row">
		                <label class="col-sm-2 col-form-label">출석번호</label>
		                <div class="col-sm-10">
		                	<input type="text" class="form-control" name="num" id="num" th:value="*{num}" required readonly>
		                </div>
		            </div>
		            <br>
		            <div class="form-group row">
		                <label class="col-sm-2 col-form-label">연락처</label>
		                <div class="col-sm-10">
		                	<input type="text" class="form-control" name="contact" id="contact" th:value="*{contact}" required readonly>
		                </div>
		            </div>
		            <br>
		            <div class="form-group row">
		                <label class="col-sm-2 col-form-label">주소</label>
		                <div class="col-sm-10">
		                	<input type="text" class="form-control" name="address" id="address" th:value="*{address}" required readonly>
		                </div>
		            </div>
		            <br>
		            <div class="form-group row">
		                <label class="col-sm-2 col-form-label">생년월일</label>
		                <div class="col-sm-10">
		                	<input type="date" class="form-control" name="birthday" id="birthday" th:value="*{#dates.format(birthday, 'yyyy-MM-dd')}" required readonly>
		                </div>
		            </div>
		            <br>
		            <div class="form-group">
		            	<div class="row">
			            	<label class="col-sm-2 col-form-label pt-0" for="gender">성별</label>
			                <div class="col-sm-10">
			                	<th:block th:if="*{gender == 'F'}">
			                		<div class="form-check form-check-inline">
					                    <input class="form-check-input" type="radio" name="gender" id="female" value="F" checked onclick="return false;">
					                    <label class="form-check-label" for="female">여성</label>
					                </div>
					                <div class="form-check form-check-inline">
					                    <input class="form-check-input" type="radio" name="gender" id="male" value="M" onclick="return false;">
					                    <label class="form-check-label" for="male">남성</label>
					                </div>
			                	</th:block>
			                	<th:block th:if="*{gender == 'M'}">
			                		<div class="form-check form-check-inline">
					                    <input class="form-check-input" type="radio" name="gender" id="female" value="F" onclick="return false;">
					                    <label class="form-check-label" for="female">여성</label>
					                </div>
					                <div class="form-check form-check-inline">
					                    <input class="form-check-input" type="radio" name="gender" id="male" value="M" checked onclick="return false;">
					                    <label class="form-check-label" for="male">남성</label>
					                </div>
			                	</th:block>
			                </div>
		            	</div>
		            </div>
					<br>
					<th:block th:if="*{memberRole.authorityCode == 1}">
						<hr>
						<br>
						<h4>잔여 기간 및 횟수</h4>
						<br>
						<!-- 가데이터 생기면 수정 -->
						<div th:each="order : ${ orderList }">
							<th:block th:if="${ order.product.categoryNo == 10 }">
								<div class="form-group row">
									<!-- 아이콘 삽입하기 -->
					                <label class="col-sm-2 col-form-label">회원권</label>
					                <div class="col-sm-3">
					                	<input type="text" class="form-control" name="membershipName" id="membershipName" th:value="${ order.product.name }" required readonly>
					                </div>
					                <div class="col-sm-3">
					                	<input type="date" class="form-control" name="membershipPeriod" id="membershipPeriod" th:value="${#dates.format(order.startDate, 'yyyy-MM-dd')}" required readonly>
					                </div>
					                ~
					                <th:block th:if="${ order.modEndDate } != null">
					                <div class="col-sm-3">
					                	<input type="date" class="form-control" name="membershipPeriod" id="membershipPeriod" th:value="${#dates.format(order.modEndDate, 'yyyy-MM-dd')}" required readonly>
					                </div>
					                </th:block>
					                <th:block th:if="${ order.modEndDate } == null">
					                <div class="col-sm-3">
					                	<input type="date" class="form-control" name="membershipPeriod" id="membershipPeriod" th:value="${#dates.format(order.endDate, 'yyyy-MM-dd')}" required readonly>
					                </div>
					                </th:block>
					            </div>
					            <br>
				            </th:block>
				            <th:block th:if="${ order.product.categoryNo == 20 }">
					            <div class="form-group row">
					                <label class="col-sm-2 col-form-label">수강권</label>
					                <div class="col-sm-3">
					                	<input type="text" class="form-control" name="ptName" id="ptName" th:value="${ order.product.name }" required readonly>
					                </div>
					                <div class="col-sm-6">
					                	<input type="text" class="form-control" name="ptPeriod" id="ptPeriod" th:value="${ order.remainCount }" required readonly>
					                </div>
					            </div>
					            <br>
				            </th:block>
				            <th:block th:if="${ order.product.categoryNo == 30 }">
					            <div class="form-group row">
					                <label class="col-sm-2 col-form-label">락커</label>
					                <div class="col-sm-3">
					                	<input type="text" class="form-control" name="lockerName" id="lockerName" th:value="${ order.product.name }" required readonly>
					                </div>
					                <div class="col-sm-3">
					                	<input type="date" class="form-control" name="lockerPeriod" id="lockerPeriod" th:value="${#dates.format(order.startDate, 'yyyy-MM-dd')}" required readonly>
					                </div>
					                ~
					                <th:block th:if="${ order.modEndDate } != null">
					                <div class="col-sm-3">
					                	<input type="date" class="form-control" name="lockerPeriod" id="lockerPeriod" th:value="${#dates.format(order.modEndDate, 'yyyy-MM-dd')}" required readonly>
					                </div>
					                </th:block>
					                <th:block th:if="${ order.modEndDate } == null">
					                <div class="col-sm-3">
					                	<input type="date" class="form-control" name="lockerPeriod" id="lockerPeriod" th:value="${#dates.format(order.endDate, 'yyyy-MM-dd')}" required readonly>
					                </div>
					                </th:block>
					            </div>
					            <br>
				            </th:block>
				            <th:block th:if="${ order.product.categoryNo == 40 }">
					            <div class="form-group row">
					                <label class="col-sm-2 col-form-label">운동복</label>
					                <div class="col-sm-3">
					                	<input type="text" class="form-control" name="sportswearName" id="sportswearName" th:value="${ order.product.name }" required readonly>
					                </div>
					                <div class="col-sm-3">
					                	<input type="date" class="form-control" name="sportswearPeriod" id="sportswearPeriod" th:value="${#dates.format(order.startDate, 'yyyy-MM-dd')}" required readonly>
					                </div>
					                ~
					                <th:block th:if="${ order.modEndDate } != null">
					                <div class="col-sm-3">
					                	<input type="date" class="form-control" name="sportswearPeriod" id="sportswearPeriod" th:value="${#dates.format(order.modEndDate, 'yyyy-MM-dd')}" required readonly>
					                </div>
					                </th:block>
					                <th:block th:if="${ order.modEndDate } == null">
					                <div class="col-sm-3">
					                	<input type="date" class="form-control" name="sportswearPeriod" id="sportswearPeriod" th:value="${#dates.format(order.endDate, 'yyyy-MM-dd')}" required readonly>
					                </div>
					                </th:block>
					            </div>
					            <br>
				            </th:block>
						</div>
		            </th:block>
		            <br>
		            <br>
					<div class="d-grid col-2 mx-auto">
		                <button class="btn btn-sm outline" type="button" id="modifyPeriodBtn" style="color:#1b1b55 ; border-color: #1b1b55;" th:onclick="modifyPeriod([[ ${member.id} ]])">기간 정보 수정</button>
		            </div>
		            <br>
		            <br>
		            <th:block th:if="*{memberRole.authorityCode == 1}">
			            <div class="d-grid col-2 mx-auto">
			                <button class="btn btn-sm outline" type="button" id="modifyMemberTypeBtn" style="color:#1b1b55 ; border-color: #1b1b55;" th:onclick="modifyMemberType([[ ${member.id} ]])">회원 유형 변경</button>
			            </div>
		            </th:block>
		            <br>
		            <br>
	            </form>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		function modifyMemberType(id) {
			Swal.fire({
				icon: 'question',
				text: '해당 회원을 트레이너로 변경하시겠습니까?',
				showDenyButton: true,
				confirmButtonText: '예',
				denyButtonText: '아니오',
			}).then((result) => {
				var memberId = id;
				if(result.isConfirmed) {
					$.ajax({
						url: "/center/member/modifyMemberType",
						type: "post",
						data: { memberId : memberId },
						success: function() {
							Swal.fire({
								icon: 'success',
								text: '변경이 완료되었습니다.',
								confirmButtonText: '확인',
							}).then((result) => {
								location.reload();
							})
							
							var title = "알림";
							var content = "트레이너로 변경되었습니다. 다시 로그인 하세요.";
							var reqUrl = "/member/logout";
							
							var param = { title: title, memberId: memberId, content: content, reqUrl: reqUrl };
							
							$.ajax({
								url: "/common/modifyMemberTypeAlert",
								type: "post",
								async: false,
								data: JSON.stringify(param),
								contentType: 'application/json; charset=utf-8',
								success: function(data) {
									// 알림 전송 
									socket.send(title + "," + memberId + "," + content + "," + reqUrl);
								},
								error: function(e) {
									console.log(e);
								}
							})
						},
						error: function(e) {
							console.log(e);
						}
					});
				}
			})
		}
		
		function modifyPeriod(id) {
			Swal.fire({
				title: '기간 정보 수정',
				html: 
				`<select name="categoryNo" id="categoryNo" class="swal2-select">
				    <option value="10">회원권</option>
				    <option value="30">락커 이용권</option>
				    <option value="40">운동복 이용권</option>
				</select>
				<input type="date" name="modEndDate" id="modEndDate" class="swal2-input"/>`,
				confirmButtonText: '수정',
				focusConfirm: false,
				showDenyButton: true,
				denyButtonText: '취소',
				preConfirm: () => {
					const categoryNo = Swal.getPopup().querySelector('#categoryNo').value
					const modEndDate = Swal.getPopup().querySelector('#modEndDate').value
					
					if(!modEndDate) {
						Swal.showValidationMessage('만료일을 선택해 주세요.')
					}
					
					return { categoryNo: categoryNo, modEndDate: modEndDate }
				}
			}).then((result) => {
				if(result.isConfirmed) {
					var categoryNo = result.value.categoryNo;
					var modEndDate = result.value.modEndDate;
					var memberId = id;
					var param = { categoryNo: categoryNo, modEndDate: modEndDate, memberId: memberId }
					
					$.ajax({
						url: "/center/member/modifyPeriod",
						type: "post",
						async: false,
						data: JSON.stringify(param),
						contentType: 'application/json; charset=utf-8',
						success: function(data) {
							if(data) {
								Swal.fire({
									icon: 'success',
									text: '기간 정보 변경이 완료되었습니다.'
								}).then((result) => {
									location.reload();
								})
							} else {
								Swal.fire({
									icon: 'error',
									text: '기간 정보 변경에 실패했습니다. 다시 시도해 주세요.'
								})
							}
						},
						error: function(e) {
							console.log('기간 정보 변경 실패');
							console.log(e);
						}
					});
				}
			})
		}
		/*]]>*/
	</script>
	<script>
		var socket = null;
	
		$(document).ready(function(){
			socket = new SockJS('/alert');
			
			socket.onopen = function() {
				console.log('open');
			};
			
			socket.onmessage = function(evt) {
				console.log("??");
				
				var data = evt.data;
				
				let toast = "<div class='toast' role='alert' aria-live='assertive' aria-atomic='true'>";
			    toast += "<div class='toast-header'><i class='fas fa-bell mr-2'></i><strong class='mr-auto'>알림</strong>";
			    toast += "<small class='text-muted'>just now</small><button type='button' class='ml-2 mb-1 close' data-dismiss='toast' aria-label='Close'>";
			    toast += "<span aria-hidden='true'>&times;</span></button>";
			    toast += "</div> <div class='toast-body'>" + data + "</div></div>";
			    $("#msgStack").append(toast);   // msgStack div에 생성한 toast 추가
			    $(".toast").toast({"animation": true, "autohide": false});
			    $('.toast').toast('show');
			};
			
			socket.onclose = function() {
				console.log('close');
			}
		});
	</script>
</body>
</html>