@charset "UTF-8";       /* 인코딩 문자 깨짐 방지 */




@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

#status_on {
	background:#007bff;
    color: white;
    text-align: center;
}

#status_off {
	background:gray;
    color: white;
    text-align: center;
}


.locNum {
	border-radius: 20px;
    margin: 5px 5px;
	background: white;
	width:300px;
	font-size : 18px;
	padding: 5px 10px;
}




.main_size {
    margin-top: 100px;margin-bottom: 100px;margin-left: 100px;margin-right: 100px;

}

.col-2{
    flex:auto;
    background-color : lightgray;
    border-radius: 10px;
    width: 180px; 
    height : 120px;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
/*     display: inline-block; */
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}




