<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>트레이너-휴가</title>
        
	<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet'/>
	<link th:replace="/common/centerHeader.html :: center-header"></link>
	
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
    
    
    
    
    <style>

	.modal {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  width: 700px;
	  display: block; 
	  padding-right: 17px;
	} 
	
	.modal-backdrop{
	height:100%; width:100%;
	}
	
	/* .wrap {
		display: flex;
	    flex-direction: column;
	    height: 100%; 
	}
	.bx-calendar {
	    margin: auto;
	    font-size: 50px;
	    margin-bottom:20px;
	    
	} */
	
	


	</style>
    
</head>
                                
<body id="body-pd">

	<!-- 헤더 body 추가 -->
	<div th:replace="/common/centerHeader.html :: center-body"></div>
	
    <!--Container Main start-->
   
    
    <div class="height-100 bg-light">
        <div class="content">
            <div class="container">
            <a href="/center/trainer/hday" style="color:black"><h2 class="mb-5">휴가 신청 조회</h2></a>
            
             <!-- 달력 아이콘 -->           
            <button id="holidayCalendar" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#calendarModal" 
             		style="margin:auto; display:blcok; text-align:center;">
				<i class='bx bx-calendar bx-lg'></i>	
			</button>
        	
			
        	
			<!-- Modal -->
			<div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-xl">
			    <div class="modal-content modal-xl">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">휴가 캘린더</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        	<div id='calendar'></div>
			      </div>
			      
			    </div>
			  </div>
			</div>
            
            

            <div class="row" style="width: 70%; margin:auto; text-align:center;">
            
                	<!-- 검색 -->
					<div id="adv-search" class="input-group">
						<form id="searchForm" th:action="@{/center/trainer/hday}" method="get" class="input-group mb-3" role="form">
							<input type="hidden" name="currentPageNo" value="1"/>
							<input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}"/>
							<input type="hidden" name="pageSize" th:value="${params.pageSize}"/>
							<select name="hStatus" class="form-select" style="text-align:center;">
								<option selected disabled >처리상태</option>
								<option value="all" th:selected="${#strings.equals(params.hStatus, 'all')}">전체</option>
	                          	<option value="waiting" th:selected="${#strings.equals(params.hStatus, 'waiting')}">대기</option>
								<option value="approval" th:selected="${#strings.equals(params.hStatus, 'approval')}">승인</option>
								<option value="reject" th:selected="${#strings.equals(params.hStatus, 'reject')}">반려</option>
	                       </select>
							<select name="searchType" class="form-select" style="text-align:center;">
								<option selected disabled >검색조건</option>
								<option value="name" th:selected="${#strings.equals(params.searchType, 'name')}">이름</option>
								<option value="id" th:selected="${#strings.equals(params.searchType, 'id')}">아이디</option>
							</select>
							<input type="text" name="searchKeyword" id="searchKeyword" class="form-control input-text" th:value="${params.searchKeyword}" placeholder="검색어를 입력해 주세요"/>
							<div class="search_btn input-group-append">
								<button type="submit" class="btn btn-primary"><i class="bx bx-search"></i></button>
							</div>
						</form>
					</div>
			</div>


            <div class="table-responsive custom-table-responsive">
            <table class="table custom-table" style="width: 90%; margin:auto; text-align:center;">
            <thead>
            <tr>
            <th scope="col">No</th>
            <th scope="col">신청일</th>
            <th scope="col">이름</th>
            <th scope="col">ID</th>
            <th scope="col">휴가사유</th>
            <th scope="col">희망휴가일</th>
            <th scope="col">상태</th>           
            </tr>
            </thead>
            
            <tbody>
            <tr class="table_hday" th:each="hday, hdayStat : ${ hdayRequestList}">
            	<td><span th:text="${hdayStat.count}"></span></td>
                <td th:text="${hday.reqHday}"></td>
                <td th:text="${hday.trainer.member.name}"></td>
                <td ><span th:text="${hday.trainer.member.id}"></span></td>
                <td th:text="${hday.hReason}"></td>
                <td th:text="${hday.hDay}"></td>
                
                	<td th:if="${hday.getHStatus().toString().equals('Y')}">
                		<button  type="button" class="btn btn-secondary" disabled>승인</button>
                	</td>
                	<td th:if="${hday.getHStatus().toString().equals('N')}">
                		<button type="button" class="btn btn-secondary"disabled>반려</button>
                	</td>
                	<td th:if="${hday.getHStatus().toString().equals('대기')}">
                		<button id="approval" type="button" class="btn btn-primary approval" value="Y" th:text="승인" ></button>
                		<button id="reject" type="button" class="btn btn-danger reject" value="N" th:text="반려" ></button>
                	</td>
                
                
            </tr>
            
            </tbody>
            </table><br>

            
            <!-- 페이징-->
            <nav th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" aria-label="Page navigation" class="text-center">
				<ul class="pagination flex-wrap d-flex justify-content-center" style="display: flex; border-radius: 0.25rem;">
					<li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(1)} ]])">
						<a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
					</li>
					<li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1)} ]])">
						<a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
					</li>
					<li class="page-item" th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == params.currentPageNo} ? 'active'">
						<a class="page-link" href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]])"></a>
					</li>
					<li class="page-item" th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]])">
						<a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
					</li>
					<li class="page-item" th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount)} ]])">
						<a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
					</li>
				</ul>
			</nav>
            </div>
            </div>
            </div>
    </div>
    <script src="/js/center/holiday.js"></script>
</body>
</html> 