<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>트레이너-급여</title>
         
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link th:replace="/common/centerHeader.html :: center-header"></link>
	<!-- ✅ Load CSS file for jQuery ui  -->
    <link
      href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet"
    />

    <!-- ✅ load jQuery ✅ -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- ✅ load jquery UI ✅ -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
      integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
	
    
</head>
                                
<body id="body-pd">

	<!-- 헤더 body 추가 -->
	<div th:replace="/common/centerHeader.html :: center-body"></div>
	
	<!--Container Main start-->
    <div class="height-100 bg-light">
        <div class="content">
            <div class="container">
            <h2 class="mb-5">급여 조회</h2>

            <input type="month" id="salMonth" name="bdaymonth" onchange="selectMonth()">  

			<p>Date: <input type="text" id="datepicker" /></p>


            <div class="table-responsive custom-table-responsive">
            <table class="table custom-table" style="width: 90%; margin:auto">
            <thead>
            <tr>
            <th scope="col">No</th>
            <th scope="col">이름</th>
            <th scope="col">ID</th>
            <th scope="col">기본급</th>
            <th scope="col">수업단가</th>
            <th scope="col">수업횟수</th>
            <th scope="col">수수료</th>
            <th scope="col">총급여</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table_sal" th:each="salary : ${ salaryList}" >
                <td th:text="${salary.salNo}"></td>
                <td th:text="${salary.trainer.member.name}"></td>
                <td th:text="${salary.trainer.member.id}"></td>
                <td th:text="${salary.salCondition.basicSalary}"></td>
                <td>50,000원</td>
                <td th:text="${salary.ptCount}"></td>
                <td th:text="${salary.salCondition.commission}"></td>
                <td th:text="${salary.totalSalary}"></td>
            </tr>
            
            </tbody>
            </table><br>

            
            <!-- 페이징-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            </div>
            </div>
    </div>
   
    <script>
    /* function selectMonth() {
    	 const salMonth = $("[id=salMonth]").val();
    	    console.log(salMonth);
    } */
    
    $(function () {
    	  $('#datepicker').datepicker();
    	  $('#datepicker').datepicker('show');
    	});
    
   
    </script>
    
    
    
    
</body>
</html> 