<!doctype html>
                       
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
                           
<head>     
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>트레이너 조회 </title>
        
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>  
    <link href="@{/css/header.css}" rel="stylesheet" type="text/css">
	<div th:replace="/common/centerHeader.html :: center-header"></div>
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   
</head>
                                
<body id="body-pd">

	<!-- 헤더 body 추가 -->
	<div th:replace="/common/centerHeader.html :: center-body"></div>

    
    <!--Container Main start-->
    <div class="height-100 bg-light">
    
        <div class="content">
            <div class="container">
            <a href="/center/trainer/list" style="color:black;"><h2 class="mb-5">트레이너 조회</h2></a>
			
            <div class="row" style="width: 70%; margin:auto; text-align:center;">
            
                	<!-- 검색 -->
					<div id="adv-search" class="input-group">
						<form id="searchForm" th:action="@{/center/trainer/list}" method="get" class="input-group mb-3" role="form">
							<input type="hidden" name="currentPageNo" value="1"/>
							<input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}"/>
							<input type="hidden" name="pageSize" th:value="${params.pageSize}"/>
							<select name="trStatus" class="form-select" style="text-align:center;">
								<option selected disabled >재직여부</option>
	                          	<option value="all" th:selected="${#strings.equals(params.trStatus, 'all')}">전체</option>
								<option value="employeed" th:selected="${#strings.equals(params.trStatus, 'employeed')}">재직</option>
								<option value="resign" th:selected="${#strings.equals(params.trStatus, 'resign')}">퇴사</option>
	                       </select>
							<select name="searchType" class="form-select" style="text-align:center;">
								<option selected disabled >검색조건</option>
								<option value="name" th:selected="${#strings.equals(params.searchType, 'name')}">이름</option>
								<option value="id" th:selected="${#strings.equals(params.searchType, 'id')}">아이디</option>
								<option value="contact" th:selected="${#strings.equals(params.searchType, 'contact')}">연락처</option>
							</select>
							<input type="text" name="searchKeyword" id="searchKeyword" class="form-control input-text" th:value="${params.searchKeyword}" placeholder="검색어를 입력해 주세요"/>
							<div class="search_btn input-group-append">
								<button type="submit" class="btn btn-primary"><i class="bx bx-search"></i></button>
							</div>
						</form>
					</div>
			</div> 
			
			
			
			<!-- 트레이너 목록 테이블 -->
            <div class="table-responsive custom-table-responsive">
            <table class="table custom-table" style="width: 90%; margin:auto; text-align:center;">
            <thead>
            <tr>
            <th>No</th>
            <th>ID</th>
            <th>이름</th>            
            <th>성별</th>
            <th>연락처</th>
            <th>경력</th>
            <th>재직여부</th>
            
           
            </tr>
            </thead>
            <tbody>
            <tr class="table_tr" th:each="trainer : ${ trainerList}">
                <td th:text="${trainer.trNum}"> </td>
          		<td>
                	<a th:href="|@{/center/trainer/detail}${params.makeQueryString(params.currentPageNo)}&id=${ trainer.member.id }|" th:text="${ trainer.member.id }" ></a>
                </td>   
                <td th:text="${trainer.member.name}"></td>           
                <td th:text="${trainer.member.gender}"></td>
                <td th:text="${trainer.member.contact}"></td>
                <td th:text="|${trainer.career}년|"></td>
                <td th:text="${trainer.trStatus}"></td>

            </tr>
    
            </tbody>
            </table><br>
             <nav th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" aria-label="Page navigation" class="text-center">
						<ul class="pagination flex-wrap d-flex justify-content-center" style="display: flex; border-radius: 0.25rem;">
							<li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(1)} ]])">
								<a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
							</li>
							<li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1)} ]])">
								<a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
							</li>
							<li class="page-item" th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == params.currentPageNo} ? 'active'">
								<a class="page-link" href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]])"></a>
							</li>
							<li class="page-item" th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]])">
								<a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
							</li>
							<li class="page-item" th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount)} ]])">
								<a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
							</li>
						</ul>
					</nav>
           
            
            </div>
            </div>
    </div>
   </div>
   
 
   

</body>
</html> 