<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaspa.healthtouch.notice.notice.model.dao.NoticeMapper">
	<resultMap type="com.jaspa.healthtouch.notice.notice.model.dto.NoticeDTO" id="noticeResultMap">
		<id property="noticeNo" column="NOT_NO"/>
		<result property="memberId" column="NOT_MEMBER_ID"/>
		<result property="noticeTitle" column="NOT_TITLE"/>
		<result property="noticeContent" column="NOT_CONTENT"/>
		<result property="noticeDelete" column="NOT_DELETE"/>
		<result property="noticeDate" column="NOT_DATE"/>
		<result property="noticeEditDate" column="NOT_EDIT_DATE"/>
		<result property="noticeView" column="NOT_VIEW"/>
		
		<association property="memberId" resultMap="memberResultMap"/>
	</resultMap >
	  
	<resultMap type="com.jaspa.healthtouch.notice.notice.model.dto.AttachmentDTO" id="attachmentResultMap" >
		<id property="attachNo" column="ATC_NO"/>
		<result property="noticeNo" column="ATC_NOT_NO"/>
		<result property="root" column="ATC_ROOT"/>
		<result property="thumbRoot" column="ATC_THUMB_ROOT"/>
		<result property="file" column="ATC_ORIGIN_FILE"/>
		<result property="editFile" column="ATC_EDIT_FILE"/>
		<result property="fileType" column="ATC_FILE_TYPE"/>

		<association property="notice" resultMap="noticeResultMap"/>
	</resultMap>

	<resultMap 	type="com.jaspa.healthtouch.notice.notice.model.dto.CommentDTO" id="commentResultMap"  >
		<id property="no" column="COM_NO"/>
		<result property="id" column="COM_MEMBER_ID"/>
		<result property="noticeNo" column="COM_NOT_NO"/>
		<result property="content" column="COM_CONTENT"/>
		<result property="delete" column="COM_DELETE"/>
		<result property="createDate" column="COM_DATE"/>
		<result property="editDate" column="COM_EDIT_DATE"/>
		
	</resultMap>
	
		<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberDTO" id="memberResultMap">
		<id property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="contact" column="MEMBER_CONTACT"/>
		<result property="num" column="MEMBER_NUM"/>
		<result property="birthday" column="MEMBER_BIRTHDAY"/>
		<result property="age" column="MEMBER_AGE"/>
		<result property="gender" column="MEMBER_GENDER"/>
		<result property="address" column="MEMBER_ADDRESS"/>
		<result property="type" column="MEMBER_TYPE"/>
		<result property="status" column="MEMBER_STATUS"/>
		
		<association property="memberRole" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberRoleDTO" id="memberRoleResultMap">
		<id property="memberId" column="REF_MEMBER_ID"/>
		<result property="authorityCode" column="REF_AUTHORITY_CODE"/>
	
	</resultMap>
	
	
	
	<!-- 공지사항 조회 -->
	<select id="noticeList" resultMap="noticeResultMap">
	SELECT 
			*
	  FROM  TBL_NOTICE 
	 WHERE  NOT_DELETE = 'N'
	    ORDER BY NOT_NO DESC
	    	  
	    
	</select>
	
	<!-- 공지사항 상세조회 -->
	<select id="selectNoticeDetail" resultMap="noticeResultMap">
	SELECT 
			*
	  FROM  TBL_NOTICE 
	 WHERE  NOT_NO = #{noticeNo}
	 AND	 NOT_DELETE = 'N'
	</select>
	
	
	<!-- 공지사항 조회수 -->
		<update id="viewCount" parameterType="int">
	UPDATE 
			TBL_NOTICE 
	SET
			NOT_VIEW = NOT_VIEW + 1
	WHERE  
			NOT_NO = #{noticeNo}
	</update>
	
	
	<!-- 공지사항 등록 -->
	<insert id="registNotice" >
        INSERT 
          INTO TBL_NOTICE 
        ( 
          NOT_NO
        , NOT_MEMBER_ID  
        , NOT_TITLE
        , NOT_CONTENT
        , NOT_DELETE
        , NOT_DATE
        )
        VALUES
        (
          SEQ_NOT_NO.NEXTVAL
        , '관리자'
        , #{ noticeTitle }
        , #{ noticeContent }
       	, 'N'
        , SYSDATE
        )
	</insert>
	
		<!-- 공지사항 파일 업로드 -->
	<insert id="insertFile" >
		<selectKey keyProperty="noticeNo" resultType="int" order="BEFORE">
			SELECT MAX(noticeNo)
			FROM TBL_NOTICE		
		</selectKey>
        INSERT 
          INTO TBL_ATTACHMENT
        ( 
          ATC_NO
        , ATC_NOT_NO
        , ATC_EDIT_FILE
        , ATC_ORIGIN_FILE
        , ATC_ROOT
        )
        VALUES
        (
          SEQ_ATC_NO.NEXTVAL
        , #{ noticeNo }
        , #{ editFile }
        , #{ file }
        , ${ root }
        )
	</insert>
	
	<!-- 공지사항 수정 -->
	<update id="modifyNotice" >
	UPDATE TBL_NOTICE
		<if test="noticeTitle != null" >NOT_TITLE=#{noticeTitle}</if>
		<if test="noticeTitle != null and noticeContent != null">,</if>
		<if test="noticeContent != null"> NOT_CONTENT=#{noticeContent}</if>
	WHERE NOT_NO=#{noticeNo}
	
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" >
	DELETE 
	FROM TBL_NOTICE
	WHERE NOT_NO=#{noticeNo}
	
	</delete>
	
</mapper>