<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaspa.healthtouch.notice.notice.model.dao.NoticeMapper">
	<resultMap type="com.jaspa.healthtouch.notice.notice.model.dto.NoticeDTO" id="noticeResultMap">
		<id property="noticeNo" column="NOT_NO"/>
		<result property="memberId" column="NOT_MEMBER_ID"/>
		<result property="noticeTitle" column="NOT_TITLE"/>
		<result property="noticeContent" column="NOT_CONTENT"/>
		<result property="noticeDelete" column="NOT_DELETE"/>
		<result property="noticeDate" column="NOT_DATE"/>
		<result property="noticeEditDate" column="NOT_EDIT_DATE"/>
		<result property="noticeView" column="NOT_VIEW"/>
		<result property="noticeCategory" column="NOT_CATEGORY"/>
		
		<association property="member" resultMap="memberResultMap"/>
	</resultMap >
	  
	<resultMap type="com.jaspa.healthtouch.notice.notice.model.dto.AttachmentDTO" id="attachmentResultMap" >
		<id property="attachNo" column="ATC_NO"/>
		<result property="noticeNo" column="ATC_NOT_NO"/>
		<result property="root" column="ATC_ROOT"/>
		<result property="thumbRoot" column="ATC_THUMB_ROOT"/>
		<result property="file" column="ATC_ORIGIN_FILE"/>
		<result property="editFile" column="ATC_EDIT_FILE"/>
		<result property="fileType" column="ATC_FILE_TYPE"/>

		<association property="notice" resultMap="noticeResultMap"/>
	</resultMap>

	<resultMap 	type="com.jaspa.healthtouch.notice.notice.model.dto.CommentDTO" id="commentResultMap"  >
		<id property="no" column="COM_NO"/>
		<result property="id" column="COM_MEMBER_ID"/>
		<result property="noticeNo" column="COM_NOT_NO"/>
		<result property="content" column="COM_CONTENT"/>
		<result property="delete" column="COM_DELETE"/>
		<result property="createDate" column="COM_DATE"/>
		<result property="editDate" column="COM_EDIT_DATE"/>
		
	</resultMap>
	
		<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberDTO" id="memberResultMap">
		<id property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="contact" column="MEMBER_CONTACT"/>
		<result property="num" column="MEMBER_NUM"/>
		<result property="birthday" column="MEMBER_BIRTHDAY"/>
		<result property="age" column="MEMBER_AGE"/>
		<result property="gender" column="MEMBER_GENDER"/>
		<result property="address" column="MEMBER_ADDRESS"/>
		<result property="type" column="MEMBER_TYPE"/>
		<result property="status" column="MEMBER_STATUS"/>
		
		<association property="memberRole" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.jaspa.healthtouch.login.model.dto.MemberRoleDTO" id="memberRoleResultMap">
		<id property="memberId" column="REF_MEMBER_ID"/>
		<result property="authorityCode" column="REF_AUTHORITY_CODE"/>
	
	</resultMap>
	
	
	<!-- 공지사항 조회 -->
	<select id="noticeList" resultMap="noticeResultMap" parameterType="com.jaspa.healthtouch.notice.notice.model.dto.NoticeDTO" >
  SELECT A.RNUM
  		,A.NOT_NO
  	 	,A.NOT_MEMBER_ID
  	 	,A.NOT_TITLE
  	 	,A.NOT_CONTENT
  	 	,A.NOT_DELETE
  	 	,A.NOT_DATE
  	 	,A.NOT_EDIT_DATE
  	 	,A.NOT_VIEW
  	FROM(SELECT ROWNUM RNUM
  				,B.NOT_NO
		  	 	,B.NOT_MEMBER_ID
		  	 	,B.NOT_TITLE
		  	 	,B.NOT_CONTENT
		  	 	,B.NOT_DELETE
		  	 	,B.NOT_DATE
		  	 	,B.NOT_EDIT_DATE
		  	 	,B.NOT_VIEW
		   	FROM(SELECT  C.NOT_NO
				  	 	,C.NOT_MEMBER_ID
				  	 	,C.NOT_TITLE
				  	 	,C.NOT_CONTENT
				  	 	,C.NOT_DELETE
				  	 	,C.NOT_DATE
				  	 	,C.NOT_EDIT_DATE
				  	 	,C.NOT_VIEW
  	 	
    			FROM  TBL_NOTICE C
    	<if test="searchKeyword != null and searchKeyword != ''">
							<where>
								<if test="searchType == 'title'">
									C.NOT_TITLE LIKE '%' || #{searchKeyword} || '%'
								</if>
								<if test="searchType == 'content'">
									C.NOT_CONTENT LIKE '%' || #{searchKeyword} || '%'
								</if>
							</where>
						</if>
					)B
		  		  <![CDATA[
		  		  WHERE ROWNUM <= #{ paginationInfo.firstRecordIndex } + #{ recordsPerPage }
		  		  ]]>
		  		 )A
	JOIN TBL_MEMBER D ON (A.NOT_MEMBER_ID = D.MEMBER_ID)
    WHERE A.RNUM >  #{ paginationInfo.firstRecordIndex }
    AND  A.NOT_DELETE = 'N'
    ORDER BY A.RNUM ASC
  </select>

	
	<!-- 총 게시글 갯수 출력 -->
	<select id="noticeFind" parameterType="com.jaspa.healthtouch.notice.notice.model.dto.NoticeDTO" resultType="int">

		SELECT 
			COUNT(*) 
		FROM TBL_NOTICE A 
		WHERE A.NOT_DELETE = 'N'
  			<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="searchType == 'title'">
							AND A.NOT_TITLE LIKE '%' || #{searchKeyword} || '%'
						</when>
						<when test="searchType == 'content'">
							AND A.NOT_CONTENT LIKE '%' || #{searchKeyword} || '%'
						</when>
					</choose>
				</when>
			</choose>
		</if>
	</select>
	

	<!-- 공지사항 상세조회 -->
	<select id="selectNoticeDetail" resultMap="noticeResultMap" >
	SELECT 
			*
	  FROM  TBL_NOTICE 
	 WHERE  NOT_NO = #{noticeNo}
	 AND    NOT_DELETE = 'N'
	</select>
	
	
	<!-- 공지사항 조회수 -->
		<update id="viewCount" parameterType="int">
	UPDATE 
			TBL_NOTICE 
	SET
			NOT_VIEW = NOT_VIEW + 1
	WHERE  
			NOT_NO = #{noticeNo}
	</update>
	
	
	<!-- 공지사항 등록 -->
	<insert id="registNotice" >
        INSERT 
          INTO TBL_NOTICE 
        ( 
          NOT_NO
        , NOT_MEMBER_ID
        , NOT_TITLE
        , NOT_CONTENT
        , NOT_DELETE
        , NOT_DATE
        )
        VALUES
        (
          SEQ_NOT_NO.NEXTVAL
        , 'admin01'
        , #{noticeTitle}
        , #{noticeContent}
       	, 'N'
        , SYSDATE
        )
	</insert>
	
	<!-- 공지사항 수정 -->
	<update id="modifyNotice" >
	UPDATE TBL_NOTICE
	   SET 
	   NOT_EDIT_DATE=SYSDATE
	   NOT_TITLE=#{noticeTitle}
	 , NOT_CONTENT=#{noticeContent}
	WHERE NOT_NO=#{noticeNo}
	
	</update>
	
	<!-- 공지사항 삭제 -->
	<update  id="deleteNotice" parameterType="int">
	 UPDATE 
	 	  TBL_NOTICE
	  SET NOT_DELETE = 'Y'
	WHERE NOT_NO=#{noticeNo}
	
	</update>
	
</mapper>